@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Noto+Serif+Display:wght@200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  .material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
  }
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #363537;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 1px;
}

a, a:hover, a:active, a:visited {
  color: #363537;
  text-decoration: none;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: 0;
}

img {
  width: 100%;
  display: block;
}

input, button, textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border: 0;
  padding: 10px 20px;
  position: relative;
}

button {
  display: block;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  background: #C0A975;
  color: #363537;
  font-size: 24px;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 6px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

button:hover {
  cursor: pointer;
  background: #A99567;
  color: #fff;
}

button.outline {
  background: transparent;
  border: 1px solid #C0A975;
  color: #C0A975;
}

button.outline:hover {
  background: #A99567;
  color: #fff;
  border: 1px solid #A99567;
}

.popup {
  width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.popup .popup_content {
  text-align: center;
  background-color: #fff;
  color: #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.popup .popup_content.popup_img {
  width: 600px;
  height: 600px;
  padding: 50px;
}

@media (max-width: 600px) {
  .popup .popup_content.popup_img {
    width: 100vw;
    height: 100vw;
    padding: 10vw;
  }
}

.popup .popup_content.popup_mov, .popup .popup_content iframe {
  width: 1080px;
  height: 608px;
  outline: 10px solid #fff;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 800px;
    height: 450px;
  }
}

@media (max-width: 1000px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 640px;
    height: 362px;
  }
}

@media (max-width: 660px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 400px;
    height: 226px;
  }
}

@media (max-width: 420px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 320px;
    height: 180px;
  }
}

@media (max-width: 400px) {
  .popup .popup_content.popup_mov, .popup .popup_content iframe {
    width: 280px;
    height: 157px;
  }
}

.popup .popup_content.popup_code {
  width: 500px;
  height: 500px;
  padding: 20px;
}

@media (max-width: 600px) {
  .popup .popup_content.popup_code {
    width: 100vw;
    height: 100vw;
    padding: 10vw;
  }
}

.popup .popup_content.popup_message {
  width: 320px;
  height: 60px;
  line-height: 60px;
}

.popup .popup_content .close {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 10;
  right: 6px;
  top: 6px;
  text-align: center;
}

.popup .popup_content .close i {
  font-size: 32px;
  line-height: 40px;
}

.popup .popup_content .close:hover {
  cursor: pointer;
}

.popup.is_acted {
  opacity: 1;
  visibility: visible;
}

.slick-slide, .slick-slide * {
  outline: none !important;
}

.slick-slider {
  position: relative;
}

.slick-slider.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-slider.slick-dotted.slick-slider .slick-slide > div > div {
  margin-bottom: -5px;
}

.slick-slider.slick-dotted.slick-slider .slick-dots {
  bottom: 20px;
}

.slick-slider.slick-dotted.slick-slider .slick-dots li {
  width: 10px;
  padding: 0;
  margin-right: 0;
}

.slick-slider.slick-dotted.slick-slider .slick-dots li button {
  width: 8px;
  height: 8px;
  padding: 2px;
  background-color: #D9D9D9;
  border-radius: 6px;
  opacity: .5;
}

.slick-slider.slick-dotted.slick-slider .slick-dots li button:before, .slick-slider.slick-dotted.slick-slider .slick-dots li button:after {
  display: none;
}

.slick-slider.slick-dotted.slick-slider .slick-dots li.slick-active {
  width: 52px;
}

.slick-slider.slick-dotted.slick-slider .slick-dots li.slick-active button {
  width: 50px;
  margin-right: 2px;
  background-color: #c9a063;
  opacity: 1;
}

.slick-slider button.prev {
  left: 15px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.slick-slider button.next {
  right: 15px;
}

.slick-slider button.prev, .slick-slider button.next {
  position: absolute;
  z-index: 5;
  bottom: 0%;
  display: block;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

@media (max-width: 1080px) {
  .slick-slider button.prev, .slick-slider button.next {
    bottom: 7%;
  }
}

@media (max-width: 960px) {
  .slick-slider button.prev, .slick-slider button.next {
    bottom: 4%;
  }
}

.slick-slider button.prev a, .slick-slider button.next a {
  display: inline-block;
  position: relative;
  height: 50px;
  width: 50px;
  -webkit-box-shadow: inset 0 0 0 2px rgba(160, 130, 100, 0.2);
          box-shadow: inset 0 0 0 2px rgba(160, 130, 100, 0.2);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}

@media (max-width: 600px) {
  .slick-slider button.prev a, .slick-slider button.next a {
    height: 36px;
    width: 36px;
  }
}

.slick-slider button.prev a:hover .arrow, .slick-slider button.next a:hover .arrow {
  -webkit-animation: bounce .8s forwards;
          animation: bounce .8s forwards;
}

@-webkit-keyframes bounce {
  55% {
    -webkit-transform: translate3d(-40%, -50%, 0);
            transform: translate3d(-40%, -50%, 0);
  }
  70% {
    -webkit-transform: translate3d(15%, -50%, 0);
            transform: translate3d(15%, -50%, 0);
  }
  80% {
    -webkit-transform: translate3d(-10%, -50%, 0);
            transform: translate3d(-10%, -50%, 0);
  }
  85% {
    -webkit-transform: translate3d(5%, -50%, 0);
            transform: translate3d(5%, -50%, 0);
  }
}

@keyframes bounce {
  55% {
    -webkit-transform: translate3d(-40%, -50%, 0);
            transform: translate3d(-40%, -50%, 0);
  }
  70% {
    -webkit-transform: translate3d(15%, -50%, 0);
            transform: translate3d(15%, -50%, 0);
  }
  80% {
    -webkit-transform: translate3d(-10%, -50%, 0);
            transform: translate3d(-10%, -50%, 0);
  }
  85% {
    -webkit-transform: translate3d(5%, -50%, 0);
            transform: translate3d(5%, -50%, 0);
  }
}

.slick-slider button.prev a:hover .line:nth-of-type(1):before, .slick-slider button.next a:hover .line:nth-of-type(1):before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.slick-slider button.prev a:hover .line:nth-of-type(2):before, .slick-slider button.next a:hover .line:nth-of-type(2):before {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.slick-slider button.prev a .line, .slick-slider button.next a .line {
  position: absolute;
  height: 50%;
  left: 0;
  right: 0;
  overflow: hidden;
}

.slick-slider button.prev a .line:before, .slick-slider button.next a .line:before {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  height: 200%;
  border: 2px solid transparent;
  border-radius: 50%;
  border-left-color: #c9a063;
  -webkit-transition: 1s cubic-bezier(0.5, 0.07, 0.25, 1);
  transition: 1s cubic-bezier(0.5, 0.07, 0.25, 1);
}

.slick-slider button.prev a .line:nth-of-type(1), .slick-slider button.next a .line:nth-of-type(1) {
  top: 0;
}

.slick-slider button.prev a .line:nth-of-type(1):before, .slick-slider button.next a .line:nth-of-type(1):before {
  top: 0;
  border-bottom-color: #c9a063;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.slick-slider button.prev a .line:nth-of-type(2), .slick-slider button.next a .line:nth-of-type(2) {
  bottom: 0;
}

.slick-slider button.prev a .line:nth-of-type(2):before, .slick-slider button.next a .line:nth-of-type(2):before {
  bottom: 0;
  border-top-color: #c9a063;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.slick-slider button.prev a .arrow, .slick-slider button.next a .arrow {
  position: absolute;
  top: 50%;
  height: 2px;
  background: #c9a063;
  left: 30%;
  right: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slick-slider button.prev a .arrow:before, .slick-slider button.next a .arrow:before {
  content: '';
  position: absolute;
  right: -2px;
  width: 65%;
  top: 2px;
  padding-bottom: 65%;
  border-top: 2px solid #c9a063;
  border-right: 2px solid #c9a063;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slick-slider button.prev.slick-disabled a, .slick-slider button.next.slick-disabled a {
  opacity: 0;
  visibility: hidden;
}

.slick-slider button.slick-prev {
  left: -50px;
}

.slick-slider button.slick-prev:before {
  content: '\e5de';
}

.slick-slider button.slick-next {
  right: -50px;
}

.slick-slider button.slick-next:before {
  content: '\e5df';
}

.slick-slider button.slick-prev, .slick-slider button.slick-next {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 5;
}

.slick-slider button.slick-prev:before, .slick-slider button.slick-next:before {
  font-family: 'Material Icons';
  color: #000;
  font-size: 60px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 98;
  background-color: #874C00;
}

header .topbar {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

header .topbar:after {
  content: "";
  display: block;
  clear: both;
}

header .topbar .logoBox {
  width: 200px;
  padding: 24px;
  background: #fff;
  border-radius: 0 0 20px 20px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -720px;
}

header .topbar .logoBox img {
  width: 100%;
}

header .topbar .menuBox, header .topbar .memberBox {
  float: left;
  margin-left: 260px;
}

header .topbar .menuBox .menu_item, header .topbar .memberBox .menu_item {
  float: left;
  padding: 20px 0;
  position: relative;
}

header .topbar .menuBox .menu_item .menu_item_title, header .topbar .memberBox .menu_item .menu_item_title {
  position: relative;
}

header .topbar .menuBox .menu_item .menu_item_title:before, header .topbar .memberBox .menu_item .menu_item_title:before {
  content: "";
  width: 0%;
  height: 1px;
  background: #fff;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .topbar .menuBox .menu_item .menu_item_title a, header .topbar .memberBox .menu_item .menu_item_title a {
  color: #fff;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 2;
  position: relative;
  z-index: 2;
}

header .topbar .menuBox .menu_item .menu_item_title a span, header .topbar .memberBox .menu_item .menu_item_title a span {
  margin-right: 6px;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .topbar .menuBox .menu_item .menu_item_title a .number, header .topbar .memberBox .menu_item .menu_item_title a .number {
  color: #FFC908;
  display: inline-block;
}

header .topbar .menuBox .menu_item .menu_item_content, header .topbar .memberBox .menu_item .menu_item_content {
  display: none;
  min-width: 100%;
  position: absolute;
  left: 0;
  top: 79px;
  z-index: 10;
}

header .topbar .menuBox .menu_item .menu_item_content ul li, header .topbar .memberBox .menu_item .menu_item_content ul li {
  background-color: #fff;
}

header .topbar .menuBox .menu_item .menu_item_content ul li a, header .topbar .memberBox .menu_item .menu_item_content ul li a {
  line-height: 1.2;
  padding: 14px 20px;
  white-space: nowrap;
  color: #363537;
}

header .topbar .menuBox .menu_item .menu_item_content ul li:hover, header .topbar .memberBox .menu_item .menu_item_content ul li:hover {
  background-color: #FFC908;
}

header .topbar .menuBox .menu_item.signup .menu_item_title, header .topbar .memberBox .menu_item.signup .menu_item_title {
  background: #fff;
  border-radius: 6px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .topbar .menuBox .menu_item.signup .menu_item_title:before, header .topbar .memberBox .menu_item.signup .menu_item_title:before {
  display: none;
}

header .topbar .menuBox .menu_item.signup .menu_item_title a, header .topbar .memberBox .menu_item.signup .menu_item_title a {
  color: #874C00;
}

header .topbar .menuBox .menu_item.signup .menu_item_title a span, header .topbar .memberBox .menu_item.signup .menu_item_title a span {
  color: #874C00;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .topbar .menuBox .menu_item:hover .menu_item_title:before, header .topbar .memberBox .menu_item:hover .menu_item_title:before {
  width: 100%;
}

header .topbar .menuBox .menu_item:hover .menu_item_title a, header .topbar .memberBox .menu_item:hover .menu_item_title a {
  color: #fff;
}

header .topbar .menuBox .menu_item:hover .menu_item_title a span, header .topbar .memberBox .menu_item:hover .menu_item_title a span {
  color: #fff;
}

header .topbar .menuBox .menu_item:hover .menu_item_title a span.icon_more, header .topbar .memberBox .menu_item:hover .menu_item_title a span.icon_more {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

header .topbar .menuBox .menu_item:hover.signup .menu_item_title, header .topbar .memberBox .menu_item:hover.signup .menu_item_title {
  background: #FFC908;
}

header .topbar .menuBox .menu_item:hover.signup .menu_item_title a, header .topbar .memberBox .menu_item:hover.signup .menu_item_title a {
  color: #874C00;
}

header .topbar .menuBox .menu_item:hover.signup .menu_item_title a span, header .topbar .memberBox .menu_item:hover.signup .menu_item_title a span {
  color: #874C00;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .topbar .memberBox {
  float: right;
  margin-left: 0px;
}

header .rightbar {
  position: fixed;
  right: 10px;
  top: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .rightbar ul li {
  width: 60px;
  position: relative;
}

header .rightbar ul li .number {
  font-size: 12px;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  text-align: center;
  line-height: 22px;
  position: absolute;
  right: 2px;
  top: -2px;
  background: #FF0000;
  color: #fff;
}

header .rightbar ul li + li {
  margin-top: 10px;
}

footer {
  position: relative;
  padding-bottom: 100px;
}

footer .warningBox {
  width: 100%;
  font-size: 48px;
  line-height: 1.6;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background: #B3AA8D;
  vertical-align: middle;
  padding: 12px 0;
  letter-spacing: 2px;
  position: fixed;
  bottom: 0;
}

footer .warningBox img {
  width: 76px;
  height: 76px;
  display: inline-block;
  margin: 0 10px 0 20px;
  vertical-align: middle;
}

footer #footerMenu {
  width: 100%;
  background-color: #00313B;
  padding: 60px 0;
}

@media (max-width: 1280px) {
  footer #footerMenu {
    padding: 80px 0;
  }
}

footer #footerMenu .menuBox {
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1480px) {
  footer #footerMenu .menuBox {
    width: 100%;
  }
}

@media (max-width: 1280px) {
  footer #footerMenu .menuBox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 968px) {
  footer #footerMenu .menuBox {
    display: block;
  }
}

footer #footerMenu .menuBox .menu_item {
  text-align: left;
  padding: 0 40px;
}

@media (max-width: 968px) {
  footer #footerMenu .menuBox .menu_item {
    margin-top: 10px;
  }
}

footer #footerMenu .menuBox .menu_item:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

footer #footerMenu .menuBox .menu_item .menu_item_title, footer #footerMenu .menuBox .menu_item .menu_item_info {
  min-width: 84px;
  font-size: 20px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
  letter-spacing: 1px;
}

@media (max-width: 968px) {
  footer #footerMenu .menuBox .menu_item .menu_item_title, footer #footerMenu .menuBox .menu_item .menu_item_info {
    text-align: center;
  }
}

footer #footerMenu .menuBox .menu_item .menu_item_title span, footer #footerMenu .menuBox .menu_item .menu_item_info span {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
}

footer #footerMenu .menuBox .menu_item .menu_item_title a, footer #footerMenu .menuBox .menu_item .menu_item_info a {
  font-size: 20px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
  white-space: nowrap;
}

footer #footerMenu .menuBox .menu_item .menu_item_content {
  font-size: 16px;
  letter-spacing: 2px;
  margin-top: 20px;
}

@media (max-width: 968px) {
  footer #footerMenu .menuBox .menu_item .menu_item_content {
    text-align: center;
    margin: 5px auto 0;
  }
}

footer #footerMenu .menuBox .menu_item .menu_item_content ul li {
  background-color: transparent;
  width: 100%;
  margin: 0 0 5px;
}

@media (max-width: 968px) {
  footer #footerMenu .menuBox .menu_item .menu_item_content ul li {
    width: auto;
    display: inline-block;
    margin: 0 5px 5px;
  }
}

footer #footerMenu .menuBox .menu_item .menu_item_content ul li a {
  padding: 0;
  font-weight: 300;
  white-space: nowrap;
  color: #fff;
}

footer #footerMenu .menuBox .menu_item .menu_item_content ul li a span {
  font-size: 16px;
  color: #fff;
  vertical-align: middle;
  margin-right: 6px;
}

footer #footerMenu .menuBox .menu_item .menu_item_info .logoBox {
  width: 200px;
  padding: 24px;
  background: #fff;
  border-radius: 20px;
  display: inline-block;
}

footer #footerMenu .menuBox .menu_item .menu_item_info .logoBox img {
  width: 100%;
}

footer #footerMenu .menuBox .menu_item .menu_item_info .copyright {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  margin-top: 10px;
}

@media (max-width: 1280px) {
  footer #footerMenu .menuBox .menu_item .menu_item_info .copyright {
    margin-top: 20px;
  }
}

footer #goTop {
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  bottom: 72px;
  right: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

footer #goTop:after {
  content: "";
  width: 60px;
  height: 8px;
  background: #fff;
  position: absolute;
  right: -64px;
  top: 10px;
}

footer #goTop:hover {
  cursor: pointer;
}

.theme h4 {
  font-size: 32px;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  color: #363537;
  letter-spacing: 6px;
}

.theme .theme_signin {
  background: url(../img/signin-bg.jpg) center top no-repeat;
  background-size: cover;
  padding: 80px 0;
}

.theme .theme_signin .theme_signin_box {
  max-width: 1200px;
  margin: 0 auto;
  background: rgba(16, 16, 16, 0.7);
  border-radius: 20px;
  padding: 60px;
  overflow: hidden;
}

.theme .theme_signin .theme_signin_box .theme_signin_info {
  width: 36%;
  float: left;
  padding-right: 60px;
}

.theme .theme_signin .theme_signin_box .theme_signin_info h4 {
  color: #fff;
}

.theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item {
  margin-bottom: 20px;
}

.theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item label {
  font-size: 14px;
  line-height: 1.2;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  color: #c9a063;
  letter-spacing: 1px;
  display: block;
}

.theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item label span {
  width: 48px;
  font-size: 18px;
  color: #fff;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  margin: 0 10px;
  display: inline-block;
  text-align: justify;
  text-justify: distribute-all-lines;
  text-align-last: justify;
}

@media (max-width: 1280px) {
  .theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item label span {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item label span {
    width: 80px;
  }
}

.theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item label span.nowidth {
  width: 300px;
}

@media (max-width: 1020px) and (min-width: 960px) {
  .theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item label span.nowidth {
    width: 280px;
  }
}

@media (max-width: 540px) {
  .theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item label span.nowidth {
    width: auto;
  }
}

.theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item input[type="text"] {
  width: 100%;
  font-size: 20px;
  line-height: 2;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  background: transparent;
  padding: 6px 16px;
  color: #874C00;
  background: #ebecec;
  border-radius: 6px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item input[type="text"]:focus {
  outline: 0;
}

.theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item ::-webkit-input-placeholder {
  color: #999;
  letter-spacing: 2px;
}

.theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item :-ms-input-placeholder {
  color: #999;
  letter-spacing: 2px;
}

.theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item ::-ms-input-placeholder {
  color: #999;
  letter-spacing: 2px;
}

.theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item ::placeholder {
  color: #999;
  letter-spacing: 2px;
}

.theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item select {
  width: calc(100% - 18px);
  height: 40px;
  padding: 0;
  border: 0;
  background: transparent;
  outline: 0;
  font-size: 20px;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  color: #9f8268;
  margin-left: 18px;
  border-bottom: 1px solid #c9a063;
}

@media (max-width: 1280px) {
  .theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item select {
    font-size: 16px;
  }
}

.theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item select option {
  font-size: 20px;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
}

@media (max-width: 1280px) {
  .theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item select option {
    font-size: 16px;
  }
}

.theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item textarea {
  width: calc(100% - 18px);
  background-color: transparent;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  padding: 0;
  border: 0;
  font-size: 20px;
  height: 76px;
  resize: none;
  color: #9f8268;
  margin-left: 18px;
  border-bottom: 1px solid #c9a063;
}

@media (max-width: 1280px) {
  .theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item textarea {
    font-size: 16px;
  }
}

.theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item textarea:checked, .theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item textarea:focus {
  outline: 0;
}

.theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .item + .item {
  margin-top: 32px;
}

.theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .account_service {
  text-align: center;
  margin-top: 60px;
}

.theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .account_service a {
  display: inline-block;
  padding: 0 20px;
  line-height: 1.2;
  color: #fff;
}

.theme .theme_signin .theme_signin_box .theme_signin_info .theme_signin_form .account_service a + a {
  border-left: 1px solid #c9a063;
}

.theme .theme_signin .theme_signin_box .theme_signin_notice {
  width: calc(64% - 1px);
  float: right;
  border-left: 1px solid #C0A975;
  padding-left: 60px;
}

.theme .theme_signin .theme_signin_box .theme_signin_notice ul li {
  list-style: disc;
  color: #fff;
  line-height: 2;
}

.theme .theme_signin .theme_signin_box .theme_signin_notice button {
  margin-top: 36px;
}

.theme .theme_category {
  padding: 60px 0 100px;
}

.theme .theme_category .theme_category_box {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.theme .theme_category .theme_category_box .theme_category_item {
  width: calc((100% - 60px) / 4);
  float: left;
  position: relative;
}

.theme .theme_category .theme_category_box .theme_category_item .category_text {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 36px;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  height: 36px;
  letter-spacing: 5px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.theme .theme_category .theme_category_box .theme_category_item + .theme_category_item {
  margin-left: 20px;
}

.theme .theme_event {
  padding: 60px 0 100px;
  background: #F4F5F6;
}

.theme .theme_event .theme_event_box {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.theme .theme_event .theme_event_box .theme_event_item {
  width: calc((100% - 20px) / 2);
  float: left;
}

.theme .theme_event .theme_event_box .theme_event_item + .theme_event_item {
  margin-left: 20px;
}

.theme .theme_news .theme_news_title {
  height: 360px;
  background: url(../img/news_bg.jpg) center top no-repeat;
  background-size: cover;
  position: relative;
}

.theme .theme_news .theme_news_title h4 {
  height: 40px;
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #fff;
}

.theme .theme_news .theme_news_box {
  max-width: 1200px;
  margin: 0 auto 80px;
  overflow: hidden;
}

.theme .theme_news .theme_news_box .theme_news_item {
  width: calc((100% - 120px) / 3);
  margin: 60px 60px 0 0;
  float: left;
  position: relative;
  padding: 0 20px;
}

.theme .theme_news .theme_news_box .theme_news_item:nth-child(3n) {
  margin-right: 0;
}

.theme .theme_news .theme_news_box .theme_news_item:before {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: -1;
  bottom: 20px;
  left: 0;
  background: #F2F1ED;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.theme .theme_news .theme_news_box .theme_news_item .news_text h6 {
  font-size: 22px;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-weight: 600;
  margin-top: 10px;
  letter-spacing: 2px;
  padding: 30px 0;
  position: relative;
}

.theme .theme_news .theme_news_box .theme_news_item .news_text h6:after {
  content: "";
  width: 40px;
  height: 2px;
  background: #363537;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -30px;
}

.theme .theme_news .theme_news_box .theme_news_item .news_text p {
  font-size: 16px;
  margin-top: 20px;
  text-align: justify;
  letter-spacing: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.theme .theme_news .theme_news_box .theme_news_item .news_more {
  width: 100%;
  max-width: 360px;
  height: 40px;
  line-height: 40px;
  margin: 40px auto 0;
  background: #C0A975;
  color: #363537;
  font-size: 22px;
  border-radius: 6px;
  text-align: center;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  letter-spacing: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.theme .theme_news .theme_news_box .theme_news_item:hover {
  cursor: pointer;
}

.theme .theme_news .theme_news_box .theme_news_item:hover:before {
  content: "";
  height: 100%;
}

.theme .theme_news .theme_news_box .theme_news_item:hover .news_more {
  background: #A99567;
  color: #fff;
}

.theme .theme_newspage {
  background: #F4F5F6;
}

.theme .theme_newspage .theme_newspage_box {
  width: 1200px;
  margin: 0 auto;
  padding: 60px;
}

.theme .theme_newspage .theme_newspage_box .theme_newspage_item {
  padding: 40px;
  background: #fff;
}

.theme .theme_newspage .theme_newspage_box .theme_newspage_item .newspage_text {
  margin-top: 10px;
}

.theme .theme_newspage .theme_newspage_box .theme_newspage_item .newspage_text h4, .theme .theme_newspage .theme_newspage_box .theme_newspage_item .newspage_text h5, .theme .theme_newspage .theme_newspage_box .theme_newspage_item .newspage_text h6 {
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 30px 0;
  position: relative;
  text-align: left;
  margin-bottom: 0;
}

.theme .theme_newspage .theme_newspage_box .theme_newspage_item .newspage_text h4 {
  font-size: 32px;
}

.theme .theme_newspage .theme_newspage_box .theme_newspage_item .newspage_text h5 {
  font-size: 26px;
}

.theme .theme_newspage .theme_newspage_box .theme_newspage_item .newspage_text h6 {
  font-size: 22px;
}

.theme .theme_newspage .theme_newspage_box .theme_newspage_item .newspage_text p {
  font-size: 16px;
  line-height: 1.8;
  margin-top: 20px;
  text-align: justify;
  letter-spacing: 2px;
}

.theme .theme_newspage .theme_newspage_box .newspage_back {
  width: 100%;
  max-width: 360px;
  margin: 40px auto 80px;
  background: #C0A975;
  border-radius: 6px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.theme .theme_newspage .theme_newspage_box .newspage_back a {
  height: 48px;
  line-height: 48px;
  font-size: 22px;
  color: #363537;
  text-align: center;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  letter-spacing: 2px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.theme .theme_newspage .theme_newspage_box .newspage_back:hover {
  background: #A99567;
}

.theme .theme_newspage .theme_newspage_box .newspage_back:hover a {
  color: #fff;
}

.theme .theme_register {
  background: #F2F1ED;
  padding-bottom: 80px;
}

.theme .theme_register .theme_register_title {
  height: 360px;
  background: url(../img/register_bg.jpg) center top no-repeat;
  background-size: cover;
  position: relative;
}

.theme .theme_register .theme_register_title h4 {
  height: 40px;
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #fff;
}

.theme .theme_register .theme_register_box {
  max-width: 1200px;
  margin: 60px auto 0;
  overflow: hidden;
  background: #fff;
}

.theme .theme_register .theme_register_box .theme_register_form {
  padding: 60px 40px;
  overflow: hidden;
}

.theme .theme_register .theme_register_box .theme_register_form .item {
  width: calc((100% - 40px) / 2);
  margin: 10px;
  float: left;
}

.theme .theme_register .theme_register_box .theme_register_form .item.full {
  width: calc(100% - 20px);
}

.theme .theme_register .theme_register_box .theme_register_form .item label {
  font-size: 14px;
  line-height: 1.2;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  color: #c9a063;
  letter-spacing: 1px;
  display: block;
}

.theme .theme_register .theme_register_box .theme_register_form .item label span {
  width: 80px;
  font-size: 18px;
  color: #363537;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  margin: 0 10px;
  display: inline-block;
  text-align: justify;
  text-justify: distribute-all-lines;
  text-align-last: justify;
}

@media (max-width: 1280px) {
  .theme .theme_register .theme_register_box .theme_register_form .item label span {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .theme .theme_register .theme_register_box .theme_register_form .item label span {
    width: 80px;
  }
}

.theme .theme_register .theme_register_box .theme_register_form .item label span.nowidth {
  width: 300px;
}

@media (max-width: 1020px) and (min-width: 960px) {
  .theme .theme_register .theme_register_box .theme_register_form .item label span.nowidth {
    width: 280px;
  }
}

@media (max-width: 540px) {
  .theme .theme_register .theme_register_box .theme_register_form .item label span.nowidth {
    width: auto;
  }
}

.theme .theme_register .theme_register_box .theme_register_form .item input[type="text"] {
  width: 100%;
  font-size: 20px;
  line-height: 2;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  background: transparent;
  padding: 6px 16px;
  color: #874C00;
  background: #ebecec;
  border-radius: 6px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.theme .theme_register .theme_register_box .theme_register_form .item input[type="text"]:focus {
  outline: 0;
}

.theme .theme_register .theme_register_box .theme_register_form .item ::-webkit-input-placeholder {
  color: #999;
  letter-spacing: 2px;
}

.theme .theme_register .theme_register_box .theme_register_form .item :-ms-input-placeholder {
  color: #999;
  letter-spacing: 2px;
}

.theme .theme_register .theme_register_box .theme_register_form .item ::-ms-input-placeholder {
  color: #999;
  letter-spacing: 2px;
}

.theme .theme_register .theme_register_box .theme_register_form .item ::placeholder {
  color: #999;
  letter-spacing: 2px;
}

.theme .theme_register .theme_register_box .theme_register_form .clear {
  clear: both;
}

.theme .theme_register .theme_register_box .theme_register_form button {
  margin-top: 36px;
}

.theme .theme_aboutus .theme_aboutus_title {
  height: 360px;
  background: url(../img/aboutus_bg.jpg) center top no-repeat;
  background-size: cover;
  position: relative;
}

.theme .theme_aboutus .theme_aboutus_title h4 {
  height: 40px;
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #fff;
}

.theme .theme_aboutus .theme_aboutus_box {
  width: 1200px;
  margin: 0 auto 100px;
}

.theme .theme_aboutus .theme_aboutus_box .theme_aboutus_item {
  margin-top: 80px;
}

.theme .theme_aboutus .theme_aboutus_box .theme_aboutus_item:before {
  content: "";
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.theme .theme_aboutus .theme_aboutus_box .theme_aboutus_item .aboutus_photo {
  width: 54%;
  display: inline-block;
  vertical-align: middle;
}

.theme .theme_aboutus .theme_aboutus_box .theme_aboutus_item .aboutus_text {
  width: calc(46% - 40px);
  display: inline-block;
  vertical-align: middle;
  padding-left: 40px;
}

.theme .theme_aboutus .theme_aboutus_box .theme_aboutus_item .aboutus_text h4, .theme .theme_aboutus .theme_aboutus_box .theme_aboutus_item .aboutus_text h5, .theme .theme_aboutus .theme_aboutus_box .theme_aboutus_item .aboutus_text h6 {
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 30px 0;
  position: relative;
  text-align: left;
  margin-bottom: 0;
}

.theme .theme_aboutus .theme_aboutus_box .theme_aboutus_item .aboutus_text h4 {
  font-size: 32px;
}

.theme .theme_aboutus .theme_aboutus_box .theme_aboutus_item .aboutus_text h5 {
  font-size: 26px;
}

.theme .theme_aboutus .theme_aboutus_box .theme_aboutus_item .aboutus_text h6 {
  font-size: 22px;
}

.theme .theme_aboutus .theme_aboutus_box .theme_aboutus_item .aboutus_text p {
  font-size: 16px;
  line-height: 1.8;
  margin-top: 20px;
  text-align: justify;
  letter-spacing: 2px;
}

.theme .theme_aboutus .theme_aboutus_box .theme_aboutus_item:nth-child(even) .aboutus_photo {
  width: 54%;
  float: right;
}

.theme .theme_aboutus .theme_aboutus_box .theme_aboutus_item:nth-child(even) .aboutus_text {
  width: 42%;
  float: left;
  padding-left: 0;
  padding-right: 40px;
}

.theme .theme_contactus {
  background: #F2F1ED;
  padding-bottom: 80px;
}

.theme .theme_contactus .theme_contactus_title {
  height: 360px;
  background: url(../img/contactus_bg.jpg) center top no-repeat;
  background-size: cover;
  position: relative;
}

.theme .theme_contactus .theme_contactus_title h4 {
  height: 40px;
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #fff;
}

.theme .theme_contactus .theme_contactus_box {
  max-width: 1200px;
  margin: 60px auto 0;
  overflow: hidden;
  background: #fff;
}

.theme .theme_contactus .theme_contactus_box .theme_contactus_form {
  padding: 60px 40px;
  overflow: hidden;
}

.theme .theme_contactus .theme_contactus_box .theme_contactus_form .item {
  width: calc((100% - 40px) / 2);
  margin: 10px;
  float: left;
}

.theme .theme_contactus .theme_contactus_box .theme_contactus_form .item.full {
  width: calc(100% - 20px);
}

.theme .theme_contactus .theme_contactus_box .theme_contactus_form .item label {
  font-size: 14px;
  line-height: 1.2;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  color: #c9a063;
  letter-spacing: 1px;
  display: block;
}

.theme .theme_contactus .theme_contactus_box .theme_contactus_form .item label span {
  width: 80px;
  font-size: 18px;
  color: #363537;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  margin: 0 10px;
  display: inline-block;
  text-align: justify;
  text-justify: distribute-all-lines;
  text-align-last: justify;
}

@media (max-width: 1280px) {
  .theme .theme_contactus .theme_contactus_box .theme_contactus_form .item label span {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .theme .theme_contactus .theme_contactus_box .theme_contactus_form .item label span {
    width: 80px;
  }
}

.theme .theme_contactus .theme_contactus_box .theme_contactus_form .item label span.nowidth {
  width: 300px;
}

@media (max-width: 1020px) and (min-width: 960px) {
  .theme .theme_contactus .theme_contactus_box .theme_contactus_form .item label span.nowidth {
    width: 280px;
  }
}

@media (max-width: 540px) {
  .theme .theme_contactus .theme_contactus_box .theme_contactus_form .item label span.nowidth {
    width: auto;
  }
}

.theme .theme_contactus .theme_contactus_box .theme_contactus_form .item input[type="text"] {
  width: 100%;
  font-size: 20px;
  line-height: 2;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  padding: 6px 16px;
  color: #874C00;
  background: #ebecec;
  border-radius: 6px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.theme .theme_contactus .theme_contactus_box .theme_contactus_form .item input[type="text"]:focus {
  outline: 0;
}

.theme .theme_contactus .theme_contactus_box .theme_contactus_form .item ::-webkit-input-placeholder {
  color: #999;
  letter-spacing: 2px;
}

.theme .theme_contactus .theme_contactus_box .theme_contactus_form .item :-ms-input-placeholder {
  color: #999;
  letter-spacing: 2px;
}

.theme .theme_contactus .theme_contactus_box .theme_contactus_form .item ::-ms-input-placeholder {
  color: #999;
  letter-spacing: 2px;
}

.theme .theme_contactus .theme_contactus_box .theme_contactus_form .item ::placeholder {
  color: #999;
  letter-spacing: 2px;
}

.theme .theme_contactus .theme_contactus_box .theme_contactus_form .item textarea {
  width: 100%;
  height: 320px;
  font-size: 20px;
  line-height: 2;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  padding: 6px 16px;
  color: #874C00;
  background: #ebecec;
  border-radius: 6px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.theme .theme_contactus .theme_contactus_box .theme_contactus_form .item textarea:focus {
  outline: 0;
}

.theme .theme_contactus .theme_contactus_box .theme_contactus_form .clear {
  clear: both;
}

.theme .theme_contactus .theme_contactus_box .theme_contactus_form button {
  margin-top: 36px;
}

.theme.theme_rules {
  background: #F2F1ED;
  padding: 60px 0 100px;
}

.theme.theme_rules .theme_rules_inner {
  max-width: 1200px;
  margin: 0 auto;
}

.theme.theme_rules .theme_rules_inner h4 {
  text-align: justify;
  line-height: 4;
  position: relative;
  padding-left: 32px;
}

.theme.theme_rules .theme_rules_inner h4:before {
  content: "";
  width: 8px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -16px;
  background: #363537;
}

.theme.theme_rules .theme_rules_inner p {
  font-size: 18px;
  line-height: 2;
  text-align: justify;
}

.theme.theme_rules .theme_rules_inner ul {
  font-size: 18px;
  line-height: 2;
  text-align: justify;
}

.theme.theme_rules .theme_rules_inner ul.decimal {
  list-style: decimal;
}

.theme.theme_rules .theme_rules_inner ul.decimal li {
  margin-left: 24px;
}

.theme.theme_rules .theme_rules_inner ul.cjk-ideographic {
  list-style: cjk-ideographic;
}

.theme.theme_rules .theme_rules_inner ul.cjk-ideographic li {
  margin-left: 38px;
}

.theme.theme_rules .theme_rules_inner ul.disc {
  list-style: disc;
}

.theme.theme_rules .theme_rules_inner ul.disc li {
  margin-left: 24px;
}

.theme.theme_rules .theme_rules_inner ul.lower-alpha {
  list-style: lower-alpha;
}

.theme.theme_rules .theme_rules_inner ul.lower-alpha li {
  margin-left: 24px;
}

.theme.theme_rules .theme_rules_inner ul h5 {
  font-size: 22px;
  line-height: 2;
  text-align: justify;
  color: #363537;
  margin-top: 20px;
}
/*# sourceMappingURL=index.css.map */