@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Noto+Serif+Display:wght@200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face {
  .material-icons {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular"), url(https://example.com/MaterialIcons-Regular.woff2) format("woff2"), url(https://example.com/MaterialIcons-Regular.woff) format("woff"), url(https://example.com/MaterialIcons-Regular.ttf) format("truetype");
  }
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  background: #f4f5f6;
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #363537;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 1px;
}

a, a:hover, a:active, a:visited {
  color: #363537;
  text-decoration: none;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
  outline: 0;
}

img {
  width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-weight: 600;
  letter-spacing: 2px;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
}

.clear {
  clear: both;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1480px) {
  .container {
    width: 94%;
  }
}

input, button, textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border: 0;
  padding: 10px 20px;
  position: relative;
}

label {
  font-size: 14px;
  line-height: 1.2;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  color: #c9a063;
  letter-spacing: 1px;
  display: block;
}

label span {
  font-size: 16px;
  color: #fff;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  margin: 0 10px;
  letter-spacing: 3px;
}

@media (max-width: 1280px) {
  label span {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  label span {
    width: 80px;
  }
}

label span.nowidth {
  width: 300px;
}

@media (max-width: 1020px) and (min-width: 960px) {
  label span.nowidth {
    width: 280px;
  }
}

@media (max-width: 540px) {
  label span.nowidth {
    width: auto;
  }
}

input[type="text"] {
  width: 100%;
  font-size: 14px;
  line-height: 2;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  background: transparent;
  padding: 6px 16px;
  color: #363537;
  background: #ebecec;
  border-radius: 6px;
  margin-top: 10px;
  letter-spacing: 2px;
}

input[type="text"]:focus {
  outline: 0;
}

::-webkit-input-placeholder {
  color: #999;
  letter-spacing: 2px;
}

:-ms-input-placeholder {
  color: #999;
  letter-spacing: 2px;
}

::-ms-input-placeholder {
  color: #999;
  letter-spacing: 2px;
}

::placeholder {
  color: #999;
  letter-spacing: 2px;
}

select {
  width: 100%;
  height: 54px;
  font-size: 20px;
  line-height: 2;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  background: transparent;
  padding: 6px 10px;
  color: #363537;
  background: #ebecec;
  border-radius: 6px;
  margin-top: 10px;
  letter-spacing: 2px;
  border: 0;
  outline: 0;
}

select ::-webkit-input-placeholder {
  color: #999;
  letter-spacing: 2px;
}

select :-ms-input-placeholder {
  color: #999;
  letter-spacing: 2px;
}

select ::-ms-input-placeholder {
  color: #999;
  letter-spacing: 2px;
}

select ::placeholder {
  color: #999;
  letter-spacing: 2px;
}

select option {
  font-size: 20px;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
}

@media (max-width: 1280px) {
  select option {
    font-size: 16px;
  }
}

textarea {
  width: calc(100% - 18px);
  background-color: transparent;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  padding: 0;
  border: 0;
  font-size: 20px;
  height: 76px;
  resize: none;
  color: #363537;
  margin-left: 18px;
  border-bottom: 1px solid #c9a063;
}

@media (max-width: 1280px) {
  textarea {
    font-size: 16px;
  }
}

textarea:checked, textarea:focus {
  outline: 0;
}

button {
  display: block;
  width: 100%;
  margin: 0 auto;
  background: #C0A975;
  color: #fff;
  font-size: 22px;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-weight: 600;
  letter-spacing: 4px;
  border-radius: 6px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

button a {
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
}

button:hover {
  cursor: pointer;
  background: #A99567;
}

button.outline {
  background: transparent;
  border: 1px solid #C0A975;
}

button.outline a {
  color: #C0A975;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-weight: 600;
  letter-spacing: 3px;
}

button.outline:hover {
  background: #A99567;
  border: 1px solid #A99567;
}

button.outline:hover a {
  color: #fff;
}

.popup {
  width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.popup .popup_content {
  text-align: center;
  background-color: #fff;
  color: #000000;
  border-radius: 6px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.popup .popup_content.popup_img {
  width: 600px;
  height: 600px;
  padding: 50px;
}

@media (max-width: 600px) {
  .popup .popup_content.popup_img {
    width: 100vw;
    height: 100vw;
    padding: 10vw;
  }
}

.popup .popup_content.popup_code {
  width: 720px;
  height: 300px;
  padding: 60px 40px;
}

@media (max-width: 600px) {
  .popup .popup_content.popup_code {
    width: 100vw;
    height: 100vw;
    padding: 10vw;
  }
}

.popup .popup_content.popup_code p {
  font-size: 20px;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
}

.popup .popup_content.popup_code .popup_code_form .item {
  margin: 10px auto 40px;
}

.popup .popup_content.popup_code .popup_code_form .item label {
  font-size: 14px;
  line-height: 1.2;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  color: #c9a063;
  letter-spacing: 1px;
  display: block;
}

.popup .popup_content.popup_code .popup_code_form .item label span {
  width: 48px;
  font-size: 18px;
  color: #fff;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  margin: 0 10px;
  display: inline-block;
  text-align: justify;
  text-justify: distribute-all-lines;
  text-align-last: justify;
}

@media (max-width: 1280px) {
  .popup .popup_content.popup_code .popup_code_form .item label span {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .popup .popup_content.popup_code .popup_code_form .item label span {
    width: 80px;
  }
}

.popup .popup_content.popup_code .popup_code_form .item label span.nowidth {
  width: 300px;
}

@media (max-width: 1020px) and (min-width: 960px) {
  .popup .popup_content.popup_code .popup_code_form .item label span.nowidth {
    width: 280px;
  }
}

@media (max-width: 540px) {
  .popup .popup_content.popup_code .popup_code_form .item label span.nowidth {
    width: auto;
  }
}

.popup .popup_content.popup_code .popup_code_form .item input[type="text"] {
  width: 100%;
  font-size: 20px;
  line-height: 2;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  background: transparent;
  padding: 6px 16px;
  color: #874C00;
  background: #ebecec;
  border-radius: 6px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.popup .popup_content.popup_code .popup_code_form .item input[type="text"]:focus {
  outline: 0;
}

.popup .popup_content.popup_code .popup_code_form .item ::-webkit-input-placeholder {
  color: #999;
  letter-spacing: 2px;
}

.popup .popup_content.popup_code .popup_code_form .item :-ms-input-placeholder {
  color: #999;
  letter-spacing: 2px;
}

.popup .popup_content.popup_code .popup_code_form .item ::-ms-input-placeholder {
  color: #999;
  letter-spacing: 2px;
}

.popup .popup_content.popup_code .popup_code_form .item ::placeholder {
  color: #999;
  letter-spacing: 2px;
}

.popup .popup_content .close {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 10;
  right: 6px;
  top: 12px;
  text-align: center;
}

.popup .popup_content .close i {
  font-size: 32px;
  line-height: 40px;
}

.popup .popup_content .close:hover {
  cursor: pointer;
}

.popup.is_acted {
  opacity: 1;
  visibility: visible;
}

.slick-slide, .slick-slide * {
  outline: none !important;
}

.slick-slider {
  position: relative;
}

.slick-slider.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-slider.slick-dotted.slick-slider .slick-slide > div > div {
  margin-bottom: -5px;
}

.slick-slider.slick-dotted.slick-slider .slick-dots {
  bottom: 20px;
}

.slick-slider.slick-dotted.slick-slider .slick-dots li {
  width: 10px;
  padding: 0;
  margin-right: 0;
}

.slick-slider.slick-dotted.slick-slider .slick-dots li button {
  width: 8px;
  height: 8px;
  padding: 2px;
  background-color: #D9D9D9;
  border-radius: 6px;
  opacity: .5;
}

.slick-slider.slick-dotted.slick-slider .slick-dots li button:before, .slick-slider.slick-dotted.slick-slider .slick-dots li button:after {
  display: none;
}

.slick-slider.slick-dotted.slick-slider .slick-dots li.slick-active {
  width: 52px;
}

.slick-slider.slick-dotted.slick-slider .slick-dots li.slick-active button {
  width: 50px;
  margin-right: 2px;
  background-color: #c9a063;
  opacity: 1;
}

.slick-slider button.slick-prev {
  left: -40px;
}

.slick-slider button.slick-prev:before {
  content: '\e5cb';
}

.slick-slider button.slick-next {
  right: -40px;
}

.slick-slider button.slick-next:before {
  content: '\e5cc';
}

.slick-slider button.slick-prev, .slick-slider button.slick-next {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 5;
}

.slick-slider button.slick-prev:before, .slick-slider button.slick-next:before {
  font-family: 'Material Icons';
  color: #000;
  font-size: 40px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 98;
  background-color: #874C00;
}

header .topbar {
  width: 100%;
  max-width: 1440px;
  height: 100px;
  margin: 0 auto;
}

header .topbar:after {
  content: "";
  display: block;
  clear: both;
}

header .topbar .logoBox {
  width: 200px;
  padding: 24px;
  background: #fff;
  border-radius: 0 0 20px 20px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -720px;
}

@media (max-width: 1480px) {
  header .topbar .logoBox {
    left: 0px;
    margin-left: 0;
  }
}

header .topbar .logoBox img {
  width: 100%;
}

header .topbar .menuBox, header .topbar .memberBox {
  float: left;
  margin-left: 260px;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1480px) {
  header .topbar .menuBox, header .topbar .memberBox {
    margin-left: 210px;
  }
}

header .topbar .menuBox .menu_item, header .topbar .memberBox .menu_item {
  float: left;
  padding: 26px 0;
  position: relative;
}

header .topbar .menuBox .menu_item .menu_item_title, header .topbar .memberBox .menu_item .menu_item_title {
  position: relative;
}

header .topbar .menuBox .menu_item .menu_item_title:before, header .topbar .memberBox .menu_item .menu_item_title:before {
  content: "";
  width: 0%;
  height: 1px;
  background: #fff;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .topbar .menuBox .menu_item .menu_item_title a, header .topbar .memberBox .menu_item .menu_item_title a {
  color: #fff;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 2;
  position: relative;
  z-index: 2;
}

header .topbar .menuBox .menu_item .menu_item_title a span, header .topbar .memberBox .menu_item .menu_item_title a span {
  margin-right: 6px;
  color: #fff;
  vertical-align: middle;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .topbar .menuBox .menu_item .menu_item_title a .number, header .topbar .memberBox .menu_item .menu_item_title a .number {
  color: #FFC908;
  display: inline-block;
}

header .topbar .menuBox .menu_item .menu_item_content, header .topbar .memberBox .menu_item .menu_item_content {
  display: none;
  min-width: 100%;
  position: absolute;
  left: 0;
  top: 74px;
  z-index: 10;
}

header .topbar .menuBox .menu_item .menu_item_content ul li, header .topbar .memberBox .menu_item .menu_item_content ul li {
  background-color: #fff;
}

header .topbar .menuBox .menu_item .menu_item_content ul li a, header .topbar .memberBox .menu_item .menu_item_content ul li a {
  line-height: 1.2;
  padding: 14px 20px;
  white-space: nowrap;
  color: #363537;
}

header .topbar .menuBox .menu_item .menu_item_content ul li:hover, header .topbar .memberBox .menu_item .menu_item_content ul li:hover {
  background-color: #FFC908;
}

header .topbar .menuBox .menu_item.signup .menu_item_title, header .topbar .memberBox .menu_item.signup .menu_item_title {
  background: #fff;
  border-radius: 6px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .topbar .menuBox .menu_item.signup .menu_item_title:before, header .topbar .memberBox .menu_item.signup .menu_item_title:before {
  display: none;
}

header .topbar .menuBox .menu_item.signup .menu_item_title a, header .topbar .memberBox .menu_item.signup .menu_item_title a {
  color: #874C00;
}

header .topbar .menuBox .menu_item.signup .menu_item_title a span, header .topbar .memberBox .menu_item.signup .menu_item_title a span {
  color: #874C00;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .topbar .menuBox .menu_item:hover .menu_item_title:before, header .topbar .memberBox .menu_item:hover .menu_item_title:before {
  width: 100%;
}

header .topbar .menuBox .menu_item:hover .menu_item_title a, header .topbar .memberBox .menu_item:hover .menu_item_title a {
  color: #fff;
}

header .topbar .menuBox .menu_item:hover .menu_item_title a span, header .topbar .memberBox .menu_item:hover .menu_item_title a span {
  color: #fff;
}

header .topbar .menuBox .menu_item:hover .menu_item_title a span.icon_more, header .topbar .memberBox .menu_item:hover .menu_item_title a span.icon_more {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

header .topbar .menuBox .menu_item:hover.signup .menu_item_title, header .topbar .memberBox .menu_item:hover.signup .menu_item_title {
  background: #FFC908;
}

header .topbar .menuBox .menu_item:hover.signup .menu_item_title a, header .topbar .memberBox .menu_item:hover.signup .menu_item_title a {
  color: #874C00;
}

header .topbar .menuBox .menu_item:hover.signup .menu_item_title a span, header .topbar .memberBox .menu_item:hover.signup .menu_item_title a span {
  color: #874C00;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .topbar .menuBox .menu_item + .menu_item, header .topbar .memberBox .menu_item + .menu_item {
  margin-left: 10px;
}

@media (max-width: 1200px) {
  header .topbar .menuBox {
    display: none;
  }
}

header .topbar .memberBox {
  float: right;
  margin-left: 0px;
}

@media (max-width: 1200px) {
  header .topbar .memberBox {
    width: 100%;
    height: 60px;
    float: unset;
    position: fixed;
    right: 0;
    bottom: 100px;
  }
  header .topbar .memberBox .menu_item {
    width: 100%;
    padding: 0;
    float: unset;
  }
  header .topbar .memberBox .menu_item .menu_item_title {
    display: none;
  }
  header .topbar .memberBox .menu_item .menu_item_content {
    display: block;
    position: static;
    top: 0;
  }
  header .topbar .memberBox .menu_item .menu_item_content ul {
    overflow: hidden;
  }
  header .topbar .memberBox .menu_item .menu_item_content ul li {
    width: 25%;
    float: left;
    text-align: center;
    border-top: 1px solid #874C00;
  }
  header .topbar .memberBox .menu_item .menu_item_content ul li a {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
  }
  header .topbar .memberBox .menu_item .menu_item_content ul li + li {
    border-left: 1px solid #874C00;
  }
}

@media (max-width: 800px) {
  header .topbar .memberBox {
    bottom: 80px;
  }
}

header #menu-toggle {
  width: 80px;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  background-color: transparent;
  padding: 18px 24px;
  margin-right: 16px;
  -webkit-transition: all .1s;
  transition: all .1s;
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 1200px) {
  header #menu-toggle {
    opacity: 1;
    visibility: visible;
  }
}

header #menu-toggle span {
  display: block;
  width: 34px;
  height: 2px;
  margin: 6px 0;
  background-color: #ffffff;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header #menu-toggle h6 {
  font-size: 12px;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header #menu-toggle:hover {
  cursor: pointer;
}

header #menu-toggle.active span {
  background-color: #fff;
}

header #menu-toggle.active span:nth-child(2) {
  background-color: transparent;
}

header #menu-toggle.active span:nth-child(1) {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  margin-top: 45%;
}

header #menu-toggle.active span:nth-child(3) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  margin-top: -50%;
}

header #menu-toggle.active h6 {
  opacity: 0;
  visibility: hidden;
}

header #menu {
  width: 100%;
  height: 100vh;
  display: none;
}

header #menu .menuBox {
  width: 100%;
  height: 100%;
  background-color: rgba(54, 53, 55, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 100px;
  overflow-y: scroll;
}

@media (max-width: 960px) {
  header #menu .menuBox {
    width: 100%;
  }
}

header #menu .menuBox::-webkit-scrollbar {
  display: none;
}

header #menu .menuBox .menu_item {
  text-align: center;
  margin-bottom: 32px;
  overflow: hidden;
}

header #menu .menuBox .menu_item_title, header #menu .menuBox .menu_item_info,
header #menu .menuBox .menu_item_title a, header #menu .menuBox .menu_item_info a {
  font-size: 20px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff;
}

@media (max-width: 960px) {
  header #menu .menuBox .menu_item_title, header #menu .menuBox .menu_item_info,
  header #menu .menuBox .menu_item_title a, header #menu .menuBox .menu_item_info a {
    font-size: 24px;
  }
}

header #menu .menuBox .menu_item_title span, header #menu .menuBox .menu_item_info span,
header #menu .menuBox .menu_item_title a span, header #menu .menuBox .menu_item_info a span {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
}

header #menu .menuBox .menu_item_content {
  font-size: 16px;
  letter-spacing: 2px;
}

@media (max-width: 960px) {
  header #menu .menuBox .menu_item_content ul {
    padding-top: 10px;
  }
}

header #menu .menuBox .menu_item_content ul li {
  background-color: transparent;
  width: 100%;
  margin: 0 0 5px;
}

@media (max-width: 960px) {
  header #menu .menuBox .menu_item_content ul li {
    width: auto;
    display: inline-block;
    margin: 0 5px 5px;
  }
}

header #menu .menuBox .menu_item_content ul li a {
  padding: 0;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
}

@media (max-width: 960px) {
  header #menu .menuBox .menu_item_content ul li a {
    font-size: 18px;
  }
}

header #menu .menuBox .menu_item_social {
  width: 30px;
  float: right;
}

@media (max-width: 960px) {
  header #menu .menuBox .menu_item_social {
    float: unset;
    margin: 0 auto;
  }
}

header #menu .menuBox .menu_item_info p, header #menu .menuBox .menu_item_info a, header #menu .menuBox .menu_item_info span {
  display: inline-block;
  font-size: 20px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 400;
  letter-spacing: 1px;
}

header #menu .menuBox .menu_item_info p {
  margin-bottom: 20px;
}

@media (max-width: 960px) {
  header #menu .menuBox .menu_item_info p {
    display: block;
  }
}

header #menu .menuBox .menu_item_info span {
  width: 20px;
  text-align: center;
  background: #000;
  color: #fff;
  margin-right: 5px;
  font-size: 23px;
  font-weight: 600;
  line-height: 1;
}

header .rightbar {
  position: fixed;
  right: 10px;
  top: 30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .rightbar ul li {
  width: 60px;
  position: relative;
}

header .rightbar ul li .number {
  font-size: 12px;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  text-align: center;
  line-height: 22px;
  position: absolute;
  right: 2px;
  top: -2px;
  background: #FF0000;
  color: #fff;
}

header .rightbar ul li + li {
  margin-top: 10px;
}

footer {
  position: relative;
  padding-bottom: 96px;
}

@media (max-width: 960px) {
  footer {
    padding-bottom: 10vw;
  }
}

footer .warningBox {
  width: 100%;
  font-size: 42px;
  line-height: 1.6;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background: #B3AA8D;
  vertical-align: middle;
  padding: 12px 0;
  letter-spacing: 3px;
  position: fixed;
  z-index: 99;
  bottom: 0;
}

@media (max-width: 800px) {
  footer .warningBox {
    font-size: 5.6vw;
    letter-spacing: 0.6vw;
    line-height: 80px;
    padding: 0;
  }
}

footer .warningBox img {
  width: 72px;
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}

@media (max-width: 800px) {
  footer .warningBox img {
    width: 8vw;
  }
}

footer #footerMenu {
  width: 100%;
  background-color: #00313B;
  padding: 60px 0;
}

@media (max-width: 1280px) {
  footer #footerMenu {
    padding: 80px 0;
  }
}

footer #footerMenu .menuBox {
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1480px) {
  footer #footerMenu .menuBox {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  footer #footerMenu .menuBox {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 960px) {
  footer #footerMenu .menuBox {
    display: block;
  }
}

footer #footerMenu .menuBox .menu_item {
  text-align: left;
  padding: 0 40px;
}

@media (max-width: 1200px) {
  footer #footerMenu .menuBox .menu_item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 960px) {
  footer #footerMenu .menuBox .menu_item {
    text-align: center;
  }
}

footer #footerMenu .menuBox .menu_item:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1200px) {
  footer #footerMenu .menuBox .menu_item:last-child {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin-top: 40px;
  }
}

footer #footerMenu .menuBox .menu_item .menu_item_title {
  min-width: 84px;
  font-size: 20px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  white-space: nowrap;
}

footer #footerMenu .menuBox .menu_item .menu_item_title span {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
}

footer #footerMenu .menuBox .menu_item .menu_item_title a {
  font-size: 20px;
  font-family: 'Noto Serif TC', serif;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  white-space: nowrap;
}

footer #footerMenu .menuBox .menu_item .menu_item_content {
  margin-top: 20px;
  padding-top: 30px;
  position: relative;
}

@media (max-width: 960px) {
  footer #footerMenu .menuBox .menu_item .menu_item_content {
    margin-top: 15px;
    padding-top: 15px;
    margin-bottom: 30px;
  }
}

footer #footerMenu .menuBox .menu_item .menu_item_content:before {
  content: "";
  width: 32px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 960px) {
  footer #footerMenu .menuBox .menu_item .menu_item_content:before {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

footer #footerMenu .menuBox .menu_item .menu_item_content ul li {
  background-color: transparent;
  width: 100%;
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  color: #fff;
  line-height: 1.6;
}

@media (max-width: 968px) {
  footer #footerMenu .menuBox .menu_item .menu_item_content ul li {
    width: auto;
    display: inline-block;
    margin: 0 5px 5px;
  }
}

footer #footerMenu .menuBox .menu_item .menu_item_content ul li a {
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  color: #fff;
  line-height: 1.6;
}

footer #footerMenu .menuBox .menu_item .menu_item_content ul li span {
  font-size: 16px;
  color: #fff;
  vertical-align: middle;
  margin-right: 6px;
}

footer #footerMenu .menuBox .menu_item .menu_item_info {
  float: right;
}

@media (max-width: 1200px) {
  footer #footerMenu .menuBox .menu_item .menu_item_info {
    float: unset;
    text-align: center;
  }
}

footer #footerMenu .menuBox .menu_item .menu_item_info .logoBox {
  width: 120px;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  display: inline-block;
}

footer #footerMenu .menuBox .menu_item .menu_item_info .logoBox img {
  width: 100%;
}

footer #footerMenu .menuBox .menu_item .menu_item_info .copyright {
  font-size: 13px;
  line-height: 1.6;
  font-weight: 300;
  color: #fff;
  margin-top: 10px;
}

@media (max-width: 1280px) {
  footer #footerMenu .menuBox .menu_item .menu_item_info .copyright {
    margin-top: 20px;
  }
}

footer #goTop {
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  bottom: 72px;
  right: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

footer #goTop:after {
  content: "";
  width: 60px;
  height: 8px;
  background: #fff;
  position: absolute;
  right: -64px;
  top: 10px;
}

footer #goTop:hover {
  cursor: pointer;
}

.theme .theme_members .theme_members_box {
  overflow: hidden;
}

.theme .theme_members .theme_members_box .theme_members_nav {
  width: 320px;
  float: left;
  margin: 40px 0;
}

.theme .theme_members .theme_members_box .theme_members_nav ul > li {
  background: #fff;
  padding: 20px 30px;
  margin-bottom: 2px;
  font-weight: 600;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.theme .theme_members .theme_members_box .theme_members_nav ul > li a {
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  color: #363537;
  -webkit-transition: all .3s;
  transition: all .3s;
  letter-spacing: 2px;
}

.theme .theme_members .theme_members_box .theme_members_nav ul > li span {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.4;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  color: #908E93;
  letter-spacing: 2px;
}

.theme .theme_members .theme_members_box .theme_members_nav ul > li.head {
  font-size: 20px;
  line-height: 1.2;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  background: #EBEBEB;
  letter-spacing: 2px;
}

.theme .theme_members .theme_members_box .theme_members_nav ul > li.active, .theme .theme_members .theme_members_box .theme_members_nav ul > li:hover {
  background: #F2F1ED;
}

.theme .theme_members .theme_members_box .theme_members_nav ul > li.active a, .theme .theme_members .theme_members_box .theme_members_nav ul > li:hover a {
  color: #874C00;
}

.theme .theme_members .theme_members_box .theme_members_car_step {
  margin-top: 40px;
}

.theme .theme_members .theme_members_box .theme_members_car_step ul {
  overflow: hidden;
  text-align: center;
}

.theme .theme_members .theme_members_box .theme_members_car_step ul li {
  width: calc((100% - 20px) / 2);
  float: left;
  position: relative;
  line-height: 3.2;
  font-size: 16px;
  letter-spacing: 2px;
  color: #ABAAA8;
}

.theme .theme_members .theme_members_box .theme_members_car_step ul li:after {
  content: "";
  width: 100%;
  height: 5px;
  background: #ABAAA8;
  position: absolute;
  left: 0;
  bottom: 0;
}

.theme .theme_members .theme_members_box .theme_members_car_step ul li.active {
  color: #874C00;
}

.theme .theme_members .theme_members_box .theme_members_car_step ul li.active:after {
  background: #874C00;
}

.theme .theme_members .theme_members_box .theme_members_car_step ul li + li {
  margin-left: 20px;
}

.theme .theme_members .theme_members_box .theme_members_content {
  width: calc( 100% - 360px);
  float: right;
  margin: 40px 0;
}

.theme .theme_members .theme_members_box .theme_members_content.theme_members_content_recordpage {
  width: 100%;
  float: unset;
}

.theme .theme_members .theme_members_box .theme_members_content.theme_members_content_car {
  float: left;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_index .theme_members_index_info {
  overflow: hidden;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_index .theme_members_index_info .theme_members_index_info_text {
  width: 55%;
  float: left;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_index .theme_members_index_info .theme_members_index_info_text h4 {
  text-align: left;
  margin-bottom: 20px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_index .theme_members_index_info .theme_members_index_info_text ol {
  list-style-type: decimal;
  margin-left: 24px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_index .theme_members_index_info .theme_members_index_info_text ol li {
  font-size: 16px;
  line-height: 2;
  vertical-align: top;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_index .theme_members_index_info .theme_members_index_info_text ol li ul {
  width: calc(100% - 100px);
  float: right;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_index .theme_members_index_info .theme_members_index_info_text ul li {
  font-size: 16px;
  line-height: 2;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_index .theme_members_index_info .theme_members_index_info_text ul li img {
  width: 18px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_index .theme_members_index_info .theme_members_index_info_photo {
  width: calc(45% - 40px);
  float: right;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_index .theme_members_index_info:nth-child(even) .theme_members_index_info_text {
  float: right;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_index .theme_members_index_info:nth-child(even) .theme_members_index_info_photo {
  float: left;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_index .theme_members_index_info + .theme_members_index_info {
  margin-top: 80px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_index hr {
  margin: 60px 0;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_index .theme_members_index_delivery {
  overflow: hidden;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_index .theme_members_index_delivery .theme_members_index_delivery_item {
  width: calc(76% / 3);
  float: left;
  position: relative;
  text-align: center;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_index .theme_members_index_delivery .theme_members_index_delivery_item .photo {
  margin-bottom: 20px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_index .theme_members_index_delivery .theme_members_index_delivery_item + .theme_members_index_delivery_item {
  margin-left: 12%;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_index .theme_members_index_delivery .theme_members_index_delivery_item + .theme_members_index_delivery_item:before {
  content: '\e5cc';
  font-family: 'Material Icons';
  font-size: 32px;
  position: absolute;
  left: -30%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_index .theme_members_index_delivery button {
  width: 360px;
  margin: 40px auto 0;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_profile {
  background: #fff;
  padding: 40px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_profile .theme_members_profile_form .item {
  width: calc((100% - 40px) / 2);
  margin: 10px auto;
  position: relative;
  float: left;
  margin-right: 20px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_profile .theme_members_profile_form .item.full {
  width: calc(100% - 20px);
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_profile .theme_members_profile_form .item span {
  color: #363537;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_profile .theme_members_profile_form .item .invoice {
  width: 180px;
  height: 20px;
  position: absolute;
  left: 130px;
  top: 0;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_profile .theme_members_profile_form .item .invoice > div {
  float: left;
  margin-right: 16px;
  line-height: 1.2;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_profile .theme_members_profile_form .item .invoice > div input, .theme .theme_members .theme_members_box .theme_members_content .theme_members_profile .theme_members_profile_form .item .invoice > div label {
  display: inline-block;
  color: #363537;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_profile .theme_members_profile_form .item .invoice > div input {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  padding: 0;
  margin-right: 2px;
  outline: 1px solid #363537;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_profile .theme_members_profile_form .item .invoice > div input:checked {
  background: #363537;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_profile .theme_members_profile_form button {
  width: calc((100% - 40px) / 2);
  margin: 50px auto 20px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_profile .theme_members_profile_form button.outline {
  margin-top: 0;
  margin-bottom: 0;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_table {
  display: table;
  table-layout: auto;
  width: 100%;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_table table {
  width: 100%;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_table table tr th {
  background: #874C00;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-bottom: 3px solid #f4f5f6;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-weight: 600;
  letter-spacing: 2px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_table table tr td {
  background: #fff;
  text-align: center;
  border-bottom: 3px solid #f4f5f6;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_table table tr td .item {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding: 20px 10px;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-size: 16px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_table table tr td .item.icon i {
  color: #DFDFDF;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_table table tr td .item.icon.active i {
  color: #FF9201;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_table table tr td .item.icon:hover {
  cursor: pointer;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_table table tr td .item.icon_a:hover {
  cursor: pointer;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_table table tr td .item.photo {
  width: 160px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_table table tr td .item.price {
  font-size: 18px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_table table tr td .item.price span {
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-size: 16px;
  margin-right: 5px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_table table tr td .item.brand {
  text-align: left;
  font-weight: 600;
  letter-spacing: 2px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_table table tr td .item.brand h6 span {
  display: block;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-size: 14px;
  letter-spacing: 2px;
  color: #908E93;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_table table tr td .item.brand ul {
  text-align: left;
  margin-top: 20px;
  font-weight: 400;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_table table tr td .item.detail a {
  display: inline-block;
  border: 1px solid #363537;
  padding: 2px 6px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_table table tr td .item.detail a:hover {
  background: #363537;
  color: #fff;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_table table tr:last-child th, .theme .theme_members .theme_members_box .theme_members_content .theme_members_table table tr:last-child td {
  border: 0;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box {
  background: #fff;
  padding: 20px 40px;
  margin-bottom: 40px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box.theme_members_car_box {
  background: transparent;
  padding: 0;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_total {
  overflow: hidden;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_total h4 {
  width: calc(100% - 200px);
  float: left;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_total .total_price {
  width: 200px;
  float: right;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-size: 22px;
  line-height: 1.8;
  text-align: right;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_total .total_price span {
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-size: 16px;
  margin-right: 5px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_group .theme_members_table_title {
  background: #F2F1ED;
  padding: 10px;
  overflow: hidden;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_group .theme_members_table_title h5 {
  width: calc(100% - 230px);
  float: left;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_group .theme_members_table_title .group_price {
  width: 140px;
  float: left;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-size: 18px;
  line-height: 1.6;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_group .theme_members_table_title .group_price span {
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-size: 16px;
  margin-right: 5px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_group .theme_members_table_title .group_switch {
  width: 90px;
  float: right;
  padding-left: 8px;
  border: 1px solid #363537;
  line-height: 1.8;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_group .theme_members_table_title .group_switch > div {
  position: relative;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_group .theme_members_table_title .group_switch > div:after {
  position: absolute;
  right: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: 'Material Icons';
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_group .theme_members_table_title .group_switch > div:hover {
  cursor: pointer;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_group .theme_members_table_title .group_switch .open {
  display: block;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_group .theme_members_table_title .group_switch .open:after {
  content: '\e145';
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_group .theme_members_table_title .group_switch .close {
  display: none;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_group .theme_members_table_title .group_switch .close:after {
  content: '\e15b';
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_group .theme_members_table_title .group_switch.active .open {
  display: none;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_group .theme_members_table_title .group_switch.active .close {
  display: block;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_group .theme_members_recordpage {
  display: none;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_group .theme_members_recordpage table tr td .item {
  padding: 10px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_group .theme_members_recordpage table tr td .item.photo {
  width: 80px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_group + .theme_members_recordpage_group {
  margin-top: 20px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_note {
  margin-top: 40px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_recordpage_note p {
  background: #F4F5F6;
  padding: 10px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_content_form {
  width: 100%;
  float: unset;
  background: #fff;
  overflow: hidden;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_content_form .item {
  width: calc((100% - 40px) / 2);
  margin: 10px auto;
  position: relative;
  float: left;
  margin-right: 20px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_content_form .item.full {
  width: calc(100% - 20px);
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_content_form .item span {
  color: #363537;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_content_form .item .field {
  width: 100%;
  font-size: 14px;
  line-height: 2;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  background: transparent;
  padding: 6px 16px;
  color: #363537;
  background: #ebecec;
  border-radius: 6px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_content_form .item .invoice {
  width: 180px;
  height: 20px;
  position: absolute;
  left: 130px;
  top: 0;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_content_form .item .invoice > div {
  float: left;
  margin-right: 16px;
  line-height: 1.2;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_content_form .item .invoice > div input, .theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_content_form .item .invoice > div label {
  display: inline-block;
  color: #363537;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_content_form .item .invoice > div input {
  width: 12px;
  height: 12px;
  border-radius: 12px;
  padding: 0;
  margin-right: 2px;
  outline: 1px solid #363537;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_content_form .item .invoice > div input:checked {
  background: #363537;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_content_form button {
  width: calc((100% - 40px) / 2);
  margin: 50px auto 20px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_content_form button.outline {
  margin-top: 0;
  margin-bottom: 0;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_content_btn {
  text-align: center;
  margin: 40px auto;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_content_btn button {
  width: 280px;
  display: inline-block;
  margin: 0 10px;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_content_btn button.outline {
  color: #A99567;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.theme .theme_members .theme_members_box .theme_members_content .theme_members_recordpage_box .theme_members_content_btn button:hover.outline {
  color: #fff;
}

.theme .theme_members .theme_members_box .theme_members_content.theme_members_content_car.step1 .theme_members_table_title {
  background: transparent;
}

.theme .theme_members .theme_members_box .theme_members_content.theme_members_content_car.step1 .theme_members_table_title .group_price {
  float: right;
}

.theme .theme_members .theme_members_box .theme_members_content.theme_members_content_car.step1 .theme_members_recordpage {
  display: block;
}

.theme .theme_members .theme_members_box .theme_members_content.theme_members_content_car.step1 .theme_members_table_price {
  background: #F2F1ED;
  padding: 10px;
  overflow: hidden;
}

.theme .theme_members .theme_members_box .theme_members_content.theme_members_content_car.step1 .theme_members_table_price .group_price {
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-size: 18px;
  line-height: 1.6;
  float: right;
}

.theme .theme_members .theme_members_box .theme_members_content.theme_members_content_car.step1 .theme_members_table_price .group_price span {
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-size: 16px;
  margin-right: 5px;
}

.theme .theme_members .theme_members_box .theme_members_order {
  width: 320px;
  float: right;
  margin: 40px 0;
  background: #fff;
  padding: 30px 20px;
  margin-bottom: 40px;
}

.theme .theme_members .theme_members_box .theme_members_order hr {
  border-top: 1px solid #D9D9D9;
}

.theme .theme_members .theme_members_box .theme_members_order .theme_members_order_title {
  font-size: 20px;
  line-height: 1.2;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  letter-spacing: 2px;
  font-weight: 600;
}

.theme .theme_members .theme_members_box .theme_members_order .theme_members_order_title span {
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 1.4;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  color: #908E93;
  letter-spacing: 2px;
}

.theme .theme_members .theme_members_box .theme_members_order .theme_members_order_total {
  overflow: hidden;
  font-weight: 600;
}

.theme .theme_members .theme_members_box .theme_members_order .theme_members_order_total .total_price {
  width: 100%;
  float: right;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-size: 22px;
  line-height: 1.8;
  text-align: right;
}

.theme .theme_members .theme_members_box .theme_members_order .theme_members_order_total .total_price span {
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-size: 16px;
  margin-right: 5px;
}

.theme .theme_members .theme_members_box .theme_members_order .theme_members_order_delivery {
  margin: 20px 0;
}

.theme .theme_members .theme_members_box .theme_members_order .theme_members_order_delivery ol {
  list-style: decimal;
  margin-left: 20px;
  margin-top: 5px;
  text-align: justify;
  line-height: 2;
}

.theme .theme_members .theme_members_box .theme_members_order .theme_members_order_delivery ol li {
  color: #363537;
}

.theme .theme_members .theme_members_box .theme_members_order .theme_members_order_formbox {
  margin: 20px 0;
}

.theme .theme_members .theme_members_box .theme_members_order .theme_members_order_formbox .theme_members_order_form {
  overflow: hidden;
}

.theme .theme_members .theme_members_box .theme_members_order .theme_members_order_formbox .theme_members_order_form .item textarea {
  margin: 10px 0;
  border: 1px solid #D9D9D9;
}

.theme .theme_members .theme_members_box .theme_members_order .theme_members_order_formbox .theme_members_order_form .item input[type="checkbox"] {
  width: 16px;
  height: 16px;
  display: inline-block;
  border: 1px solid #363537;
  padding: 0;
  vertical-align: middle;
}

.theme .theme_members .theme_members_box .theme_members_order .theme_members_order_formbox .theme_members_order_form .item input[type="checkbox"]:before {
  content: '\e5ca';
  font-family: 'Material Icons';
  vertical-align: top;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.theme .theme_members .theme_members_box .theme_members_order .theme_members_order_formbox .theme_members_order_form .item input[type="checkbox"]:checked:before {
  opacity: 1;
}

.theme .theme_members .theme_members_box .theme_members_order .theme_members_order_formbox .theme_members_order_form .item label {
  color: #363537;
  display: inline-block;
  width: calc(100% - 24px);
  line-height: 2;
  font-family: 'Noto Sans TC', sans-serif;
}

.theme .theme_members .theme_members_box .theme_members_order .theme_members_order_formbox .theme_members_order_form .item label a {
  display: inline-block;
}

.theme .theme_members .theme_members_box .theme_members_order .theme_members_order_formbox .theme_members_order_form p {
  font-size: 14px;
  line-height: 1.6;
  margin: 20px 0;
  letter-spacing: 2px;
}

.theme_pagination,
.theme_pagination *,
.theme_pagination *:before,
.theme_pagination *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-kerning: auto;
          font-kerning: auto;
}

.theme_pagination {
  line-height: 1;
  font-weight: 400;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  -webkit-text-size-adjust: 100%;
  margin: 1em auto;
  text-align: center;
  -webkit-transition: font-size .2s ease-in-out;
  transition: font-size .2s ease-in-out;
}

.theme_pagination ul {
  list-style-type: none;
  display: inline;
  font-size: 100%;
  margin: 0;
  padding: .5em;
}

.theme_pagination ul li {
  display: inline-block;
  font-size: 100%;
  width: auto;
  border-radius: 3px;
}

.theme_pagination ul li a {
  color: #363537;
  padding: 1em;
  font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
  font-size: 14px;
}

.theme_pagination ul li.current a {
  color: #fff;
  background: #874C00;
  border-radius: 4px;
}

.theme_pagination > a {
  display: inline-block;
  vertical-align: middle;
  padding: 0.5em;
  border-radius: 3px;
}

.theme_pagination .disabled, .theme_pagination [hidden], .theme_pagination [disabled] {
  opacity: .2;
  pointer-events: none;
}
/*# sourceMappingURL=member.css.map */