footer{
    position: relative;
    padding-bottom: 96px;
    @media (max-width:960px){
        padding-bottom: 10vw;
    }

    .warningBox{
        width: 100%;
        height: 100px;
        position: fixed;
        z-index: 99;
        bottom: 0;
        background: #B3AA8D;
        @media (max-width:600px){
            height: 80px;
        }
        @media (max-width:480px){
            height: 60px;
        }

        img{
            width: calc(100% - 5px);
            max-width: 800px;
            margin: 0 auto;
        }
    }

    #footerMenu{
        width: 100%;
        background-color: #00313B;
        padding: 60px 0;
        @media (max-width:1280px){
            padding: 80px 0;
        }

        .menuBox{
            width: 1440px;
            margin: 0 auto;
            overflow: hidden;
            display: flex;
            // justify-content: space-between;
            @media (max-width:1480px){
                width: 100%;
            }
            @media (max-width:1200px){
                flex-wrap: wrap;
            }
            @media (max-width:960px){
                display: block;
            }

            .menu_item{
                text-align: left;
                padding: 0 40px;
                @media (max-width:1200px){
                    flex: 1;
                }
                @media (max-width:960px){
                    text-align: center;
                }

                &:last-child{
                    flex: 1;
                    @media (max-width:1200px){
                        width: 100%;
                        flex: none;
                        margin-top: 40px;
                    }
                }

                .menu_item_title{
                    min-width: 84px;
                    font-size: 20px;
                    font-family: 'Noto Serif TC', serif;
                    font-weight: 600;
                    letter-spacing: 1px;
                    color: #fff;
                    white-space: nowrap;

                    span{
                        display: block;
                        font-size: 12px;
                        text-transform: uppercase;  
                        font-family: 'Playfair Display', serif;
                    }

                    a{
                        font-size: 20px;
                        font-family: 'Noto Serif TC', serif;
                        font-weight: 600;
                        letter-spacing: 1px;
                        color: #fff;
                        white-space: nowrap;
                    }
                }

                .menu_item_content{
                    margin-top: 20px;
                    padding-top: 30px;
                    position: relative;
                    @media (max-width:960px){
                        margin-top: 15px;
                        padding-top: 15px;
                        margin-bottom: 30px;
                    }

                    &:before{
                        content: "";
                        width: 32px;
                        height: 2px;
                        background: #fff;
                        position: absolute;
                        top: 0;
                        left: 0;
                        @media (max-width:960px){
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }

                    ul{

                        li{
                            background-color: transparent;
                            width: 100%;
                            margin: 0 0 5px;
                            font-size: 16px;
                            font-weight: 400;
                            white-space: nowrap;
                            color: #fff;
                            line-height: 1.6;
                            @media (max-width:968px){
                                width: auto;
                                display: inline-block;
                                margin: 0 5px 5px;
                            }

                            a{
                                font-size: 16px;
                                font-weight: 400;
                                white-space: nowrap;
                                color: #fff;
                                line-height: 1.6;
                            }
                                
                            span{
                                font-size: 16px;
                                color: #fff;
                                vertical-align: middle;
                                margin-right: 6px;
                            }
                        }

                    }
                }

                .menu_item_info{
                    float: right;
                    @media (max-width:1200px){
                        float: unset;
                        text-align: center;
                    }

                    .logoBox{
                        width: 120px;
                        padding: 10px;
                        background: #fff;
                        border-radius: 10px;
                        display: inline-block;
            
                        img{
                            width: 100%;
                        }
                    }

                    .copyright{
                        font-size: 13px;
                        line-height: 1.6;
                        font-weight: 300;
                        color: #fff;
                        margin-top: 10px;
                        @media (max-width:1280px){
                            margin-top: 20px;
                        }
                    }
                }

            }
        }

    }

    #goTop{
        font-size: 20px;
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase; 
        color: #fff;
        position: absolute;
        bottom: 72px;
        right: 10px;
        transform: rotate(90deg);
        
        &:after{
            content: "";
            width: 60px;
            height: 8px;
            background: #fff;
            position: absolute;
            right: -64px;
            top: 10px;
        }

        &:hover{
            cursor: pointer;
        }
        
    }
    
}
