@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Noto+Serif+Display:wght@200;300;400;500;600;700;800;900&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons{
  @font-face {
      font-family: 'Material Icons';
      font-style: normal;
      font-weight: 400;
      src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
      src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
    }
}
//setting
body{ font-family: 'Noto Sans TC', sans-serif ; background: #f4f5f6; font-size: 14px;}
*{ box-sizing: border-box; color: #363537; font-family: 'Noto Sans TC', sans-serif ; letter-spacing: 1px;}
a, a:hover, a:active, a:visited{ color: #363537; text-decoration: none; transition: all .3s; outline: 0; display: block;}
// a{ display: block;}
img{ width: 100%; display: block;}

h1, h2, h3, h4, h5, h6{
    font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
    font-weight: 600;
    letter-spacing: 2px;
}
h1{ font-size: 42px;}
h2{ font-size: 36px;}
h3{ font-size: 32px;}
h4{ font-size: 24px;}
h5{ font-size: 20px;}
h6{ font-size: 16px;}
p{ font-size: 16px;}
@media (max-width:640px){
    h1{ font-size: 36px;}
    h2{ font-size: 32px;}
    h3{ font-size: 24px;}
    h4{ font-size: 20px;}
    h5{ font-size: 16px;}
    h6{ font-size: 14px;}
    p{ font-size: 14px;}
}

.clear{
    clear: both;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    @media (max-width:1480px){
        width: 96%;
    }

}
input, button, textarea{
  appearance:none;   
  -moz-appearance:none;   
  -webkit-appearance:none; 
  -ms-appearance:none; 
  border: 0;
  padding: 10px 20px;
  position: relative;
}



label{
    font-size: 14px;
    line-height: 1.2;
    font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
    color: #c9a063;
    letter-spacing: 1px;
    display: block;

    span{
        font-size: 16px;
        color: #fff;
        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
        margin: 0 10px;
        letter-spacing: 3px;
        // display: inline-block;
        // text-align: justify;
        // text-justify: distribute-all-lines;
        // text-align-last: justify;
        @media (max-width:1280px){
            font-size: 16px;
        }             
        @media (max-width:640px){
            font-size: 14px;
        }             
        @media (max-width:600px){
            width: 80px;
        }   

        &.nowidth{
            width: 300px;
            @media (max-width:1020px) and (min-width:960px){
                width: 280px;
            }
            @media (max-width:540px){
                width: auto;
            }
        }      
    }
}

input[type="text"], input[type="password"]{
    width: 100%;
    font-size: 14px;
    line-height: 2;
    font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
    background: transparent;
    padding: 6px 16px;
    color: #363537;
    background: #ebecec;
    border-radius: 6px;
    margin-top: 10px;
    letter-spacing: 2px;
    // border-bottom: 1px solid #c9a063;

    &:focus{
        outline: 0;
    }
}

::placeholder {
    color: #999;
    letter-spacing: 2px;
}

select{
    width: 100%;
    height: 40px;
    font-size: 20px;
    line-height: 2;
    font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
    background: transparent;
    padding: 6px 10px;
    color: #363537;
    background: #ebecec;
    border-radius: 6px;
    margin-top: 10px;
    letter-spacing: 2px;
    border: 0;
    outline: 0;
    @media (max-width:640px){
        font-size: 16px;
    }             

    ::placeholder {
        color: #999;
        letter-spacing: 2px;
    }
    
    option{
        font-size: 20px;
        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
        @media (max-width:1280px){
            font-size: 16px;
        }             

    }
}

textarea{
    width: calc(100% - 18px);
    background-color: transparent;
    font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
    padding: 0;
    border: 0;
    font-size: 20px;
    height: 76px;
    resize: none;
    color: #363537;
    margin-left: 18px;
    border-bottom: 1px solid #c9a063;
    @media (max-width:1280px){
        font-size: 16px;
    }             

    &:checked, 
    &:focus{
        outline: 0;
    }
}

button{
    display: block;
    width: 100%;
    // max-width: 360px;
    margin: 0 auto;
    background: #C0A975;
    color: #fff;
    font-size: 22px;
    font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
    font-weight: 600;
    letter-spacing: 4px;
    border-radius: 6px;
    transition: all .3s;
    @media (max-width:640px){
        font-size: 20px;
    }             

    a{
        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
    }

    &:hover{
        cursor: pointer;
        background: #A99567;
        // color: #fff;
    }

    &.outline{
        background: transparent;
        border: 1px solid #C0A975;

        a{
            color: #C0A975;
            transition: all .3s;
            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
            font-weight: 600;
            letter-spacing: 3px;
        }

        &:hover{
            background: #A99567;
            border: 1px solid #A99567;

            a{
                color: #fff;
            }
        }

    }
}

.popup{
  width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.8);
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
  .popup_content{
      width: 80%;
      max-width: 600px;
      height: 80px;
      background-color: #fff;
      color: #000000;
      border-radius: 6px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      text-align: center;

      &:before{
          content: "";
          width: 0;
          height: 100%;
          vertical-align: middle;
          display: inline-block;
      }

      p{
        width: 90%;
        font-size: 16px;
        line-height: 1.6;
        vertical-align: middle;
        display: inline-block;
    }
      @media (max-width:400px){
        line-height: 20px;
        vertical-align: middle;
    }
      &.popup_img{
          height: 600px;
          padding: 50px;
          &:before{
              display: none;
          }
          @media (max-width:800px){
              width: 90%;
              height: 0;
              padding-bottom: calc(90% - 50px);
          }
      }

      .close{
          width: 40px;
          height: 40px;
          position: absolute;
          z-index: 10;
          right: 6px;
          top: 12px;
          text-align: center;
          i{
              font-size: 32px;
              line-height: 40px;
              @media (max-width:640px){
                  font-size: 24px;
              }             
          }
          &:hover{
              cursor: pointer;
          }
      }
  }
  &.is_acted{
      opacity: 1;
      visibility: visible;
  }
}
.slick-slide, .slick-slide *{ outline: none !important; }


.slick-slider{
    position: relative;

    &.slick-dotted.slick-slider{
        margin-bottom: 0;

        .slick-slide > div > div{
            margin-bottom: -5px;
        }
    
        .slick-dots{
            bottom: 20px;

            li{
                width: 10px;
                padding: 0;
                margin-right: 0;

                button{
                    width: 8px;
                    height: 8px;
                    padding: 2px;
                    background-color: #D9D9D9;
                    border-radius: 6px;
                    opacity: .5;
                    &:before,
                    &:after{
                        display: none;
                    }
                }

                &.slick-active{
                    width: 52px;
                    
                    button{
                        width: 50px;
                        margin-right: 2px;
                        background-color: #c9a063;
                        opacity: 1;
                    }
                }
            }
            
        }
    }

    button{

        &.slick-prev{
            left: -40px;

            &:before{
                content: '\e5cb';       
            }
        }

        &.slick-next{
            right: -40px;

            &:before{
                content: '\e5cc';
            }
        }

        &.slick-prev, &.slick-next{
            width: 40px;
            height: 40px;
            position: absolute;
            z-index: 5;

            &:before{
                font-family: 'Material Icons';
                color: #000;
                font-size: 40px;
                @media (max-width:800px){
                    font-size: 32px;
                }          
                @media (max-width:640px){
                    font-size: 24px;
                }               
            }
        }

    }
}