@import '_setting';
@import '_header';
@import '_footer';



.theme{
    h4{
        font-size: 32px;
        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
        font-weight: 600;
        text-align: center;
        margin-bottom: 40px;
        color: #363537;
        letter-spacing: 6px;
    }

    .theme_image{}

    .theme_signin{
        background: url(../img/signin-bg.jpg) center top no-repeat;
        background-size: cover;
        padding: 80px 0;

        .theme_signin_box{
            max-width: 1200px;
            margin: 0 auto;
            background: rgba(16,16,16,.7);
            border-radius: 20px;
            padding: 60px;
            overflow: hidden;

            .theme_signin_info{
                width: 36%;
                float: left;
                padding-right: 60px;

                h4{
                    color: #fff;
                }

                .theme_signin_form{

                    .item{
                        margin-bottom: 20px;

                        label{
                            font-size: 14px;
                            line-height: 1.2;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                            color: #c9a063;
                            letter-spacing: 1px;
                            display: block;
    
                            span{
                                width: 48px;
                                font-size: 18px;
                                color: #fff;
                                font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                                margin: 0 10px;
                                display: inline-block;
                                text-align: justify;
                                text-justify: distribute-all-lines;
                                text-align-last: justify;
                                @media (max-width:1280px){
                                    font-size: 16px;
                                }             
                                @media (max-width:600px){
                                    width: 80px;
                                }   
    
                                &.nowidth{
                                    width: 300px;
                                    @media (max-width:1020px) and (min-width:960px){
                                        width: 280px;
                                    }
                                    @media (max-width:540px){
                                        width: auto;
                                    }
                                }      
                            }
                        }
    
                        input[type="text"]{
                            width: 100%;
                            font-size: 20px;
                            line-height: 2;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                            background: transparent;
                            padding: 6px 16px;
                            color: #874C00;
                            background: #ebecec;
                            border-radius: 6px;
                            margin-top: 10px;
                            letter-spacing: 2px;
                            // border-bottom: 1px solid #c9a063;
    
                            &:focus{
                                outline: 0;
                            }
                        }

                        ::placeholder {
                            color: #999;
                            letter-spacing: 2px;
                        }
    
                        select{
                            width: calc(100% - 18px);
                            height: 40px;
                            padding: 0;
                            border: 0;
                            background: transparent;
                            outline: 0;
                            font-size: 20px;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                            color: #9f8268;
                            margin-left: 18px;
                            border-bottom: 1px solid #c9a063;
                            @media (max-width:1280px){
                                font-size: 16px;
                            }             
                            
                            option{
                                font-size: 20px;
                                font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                                @media (max-width:1280px){
                                    font-size: 16px;
                                }             
    
                            }
                        }
    
                        textarea{
                            width: calc(100% - 18px);
                            background-color: transparent;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                            padding: 0;
                            border: 0;
                            font-size: 20px;
                            height: 76px;
                            resize: none;
                            color: #9f8268;
                            margin-left: 18px;
                            border-bottom: 1px solid #c9a063;
                            @media (max-width:1280px){
                                font-size: 16px;
                            }             
    
                            &:checked, 
                            &:focus{
                                outline: 0;
                            }
                        }

                    }

                    .item + .item{
                        margin-top: 32px;
                    }

                    .account_service{
                        text-align: center;
                        margin-top: 60px;
                        a{
                            display: inline-block;
                            padding: 0 20px;
                            line-height: 1.2;
                            color: #fff;
                        }
                        a + a{
                            border-left: 1px solid #c9a063;
                        }
                    }
                }
            }

            .theme_signin_notice{
                width: calc(64% - 1px);
                float: right;
                border-left: 1px solid #C0A975;
                padding-left: 60px;

                ul{

                    li{
                        list-style: disc;
                        color: #fff;
                        line-height: 2;
                    }
                }
                    
                button{
                    margin-top: 36px;
                }
            }
        }

    }

    .theme_category{
        padding: 60px 0 100px;

        .theme_category_box{
            max-width: 1440px;
            margin: 0 auto;
            overflow: hidden;

            .theme_category_item{
                width: calc((100% - 60px) / 4);
                float: left;
                position: relative;

                
                .category_text{
                    color: #fff;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    font-size: 36px;
                    font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                    font-weight: 600;
                    text-align: center;
                    line-height: 1;
                    height: 36px;
                    letter-spacing: 5px;
                    text-shadow: 0 0 10px rgba(0,0,0,.8);
                }
            }

            .theme_category_item + .theme_category_item{
                margin-left: 20px;
            }
        }
        
    }

    .theme_event{
        padding: 60px 0 100px;
        background: #F4F5F6;

        .theme_event_box{
            max-width: 1440px;
            margin: 0 auto;
            overflow: hidden;

            .theme_event_item{
                width: calc((100% - 20px) / 2);
                float: left;
            }

            .theme_event_item + .theme_event_item{
                margin-left: 20px;
            }
        }
    }

    .theme_news{
        
        .theme_news_title{
            height: 360px;
            background: url(../img/news_bg.jpg) center top no-repeat;
            background-size: cover;
            position: relative;

            h4{
                height: 40px;
                position: absolute;
                z-index: 5;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                color: #fff;
            }
        }

        .theme_news_box{
            max-width: 1200px;
            margin: 0 auto 80px;
            overflow: hidden;
            .theme_news_item{
                width: calc((100% - 120px) / 3);
                margin: 60px 60px 0 0;
                float: left;
                position: relative;
                padding: 0 20px;

                &:nth-child(3n){
                    margin-right: 0;
                }

                &:before{
                    content: "";
                    width: 100%;
                    height: 50%;
                    position: absolute;
                    z-index: -1;
                    bottom: 20px;
                    left: 0;
                    background: #F2F1ED;
                    transition: all .3s;
                }

                .news_photo{}

                .news_text{

                    h6{
                        font-size: 22px;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        font-weight: 600;
                        margin-top: 10px;
                        letter-spacing: 2px;
                        padding: 30px 0;
                        position: relative;

                        &:after{
                            content: "";
                            width: 40px;
                            height: 2px;
                            background: #363537;
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            margin-left: -30px;
                        }
                    }

                    p{
                        font-size: 16px;
                        margin-top: 20px;
                        text-align: justify;
                        letter-spacing: 2px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                         -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                    }
                }

                .news_more{
                    width: 100%;
                    max-width: 360px;
                    height: 40px;
                    line-height: 40px;
                    margin: 40px auto 0;
                    background: #C0A975;
                    color: #363537;
                    font-size: 22px;
                    border-radius: 6px;
                    text-align: center;
                    font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                    letter-spacing: 2px;
                    transition: all .3s;
                }

                &:hover{
                    cursor: pointer;

                    &:before{
                        content: "";
                        height: 100%;
                    }

                    .news_more{
                        background: #A99567;
                        color: #fff;
                    }

                }
            }
        }

    }

    .theme_newspage{
        background: #F4F5F6;

        .theme_newspage_box{
            width: 1200px;
            margin: 0 auto;
            padding: 60px;

            .theme_newspage_item{
                padding: 40px;
                background: #fff;

                .newspage_text{
                    margin-top: 10px;

                    h4, h5, h6{
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        font-weight: 600;
                        letter-spacing: 2px;
                        padding: 30px 0;
                        position: relative;
                        text-align: left;
                        margin-bottom: 0;
                    }

                    h4{
                        font-size: 32px;
                    }

                    h5{
                        font-size: 26px;
                    }

                    h6{
                        font-size: 22px;
                    }

                    p{
                        font-size: 16px;
                        line-height: 1.8;
                        margin-top: 20px;
                        text-align: justify;
                        letter-spacing: 2px;
                    }
                }
            }

            .newspage_back{
                width: 100%;
                max-width: 360px;
                margin: 40px auto 80px;
                background: #C0A975;
                border-radius: 6px;
                transition: all .3s;
                
                a{
                    height: 48px;
                    line-height: 48px;
                    font-size: 22px;
                    color: #363537;
                    text-align: center;
                    font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                    letter-spacing: 2px;
                    transition: all .3s;
                }

                &:hover{
                    background: #A99567;
                    a{
                        color: #fff;
                    }
                }
            }
        }

    }

    .theme_register{
        background: #F2F1ED;
        padding-bottom: 80px;
        
        .theme_register_title{
            height: 360px;
            background: url(../img/register_bg.jpg) center top no-repeat;
            background-size: cover;
            position: relative;

            h4{
                height: 40px;
                position: absolute;
                z-index: 5;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                color: #fff;
            }
        }

        .theme_register_box{
            max-width: 1200px;
            margin: 60px auto 0;
            overflow: hidden;
            background: #fff;
            
            .theme_register_form{
                padding: 60px 40px;
                overflow: hidden;
                
                .item{
                    width: calc((100% - 40px) / 2);
                    margin: 10px;
                    float: left;

                    &.full{
                        width: calc(100% - 20px);
                    }

                    label{
                        font-size: 14px;
                        line-height: 1.2;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        color: #c9a063;
                        letter-spacing: 1px;
                        display: block;

                        span{
                            width: 80px;
                            font-size: 18px;
                            color: #363537;;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                            margin: 0 10px;
                            display: inline-block;
                            text-align: justify;
                            text-justify: distribute-all-lines;
                            text-align-last: justify;
                            @media (max-width:1280px){
                                font-size: 16px;
                            }             
                            @media (max-width:600px){
                                width: 80px;
                            }   

                            &.nowidth{
                                width: 300px;
                                @media (max-width:1020px) and (min-width:960px){
                                    width: 280px;
                                }
                                @media (max-width:540px){
                                    width: auto;
                                }
                            }      
                        }
                    }

                    input[type="text"]{
                        width: 100%;
                        font-size: 20px;
                        line-height: 2;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        background: transparent;
                        padding: 6px 16px;
                        color: #874C00;
                        background: #ebecec;
                        border-radius: 6px;
                        margin-top: 10px;
                        letter-spacing: 2px;
                        // border-bottom: 1px solid #c9a063;

                        &:focus{
                            outline: 0;
                        }
                    }

                    ::placeholder {
                        color: #999;
                        letter-spacing: 2px;
                    }
                }

                .clear{
                    clear: both;
                }
                    
                button{
                    margin-top: 36px;
                }
            }
        }

    }

    .theme_aboutus{
        
        .theme_aboutus_title{
            height: 360px;
            background: url(../img/aboutus_bg.jpg) center top no-repeat;
            background-size: cover;
            position: relative;

            h4{
                height: 40px;
                position: absolute;
                z-index: 5;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                color: #fff;
            }
        }

        .theme_aboutus_box{
            width: 1200px;
            margin: 0 auto 100px;

            .theme_aboutus_item{
                margin-top: 80px;
                // overflow: hidden;

                &:before{
                    content: "";
                    width: 0;
                    height: 100%;
                    display: inline-block;
                    vertical-align: middle;
                }

                .aboutus_photo{
                    width: 54%;
                    // float: left;
                    display: inline-block;
                    vertical-align: middle;
                }

                .aboutus_text{
                    width: calc(46% - 40px);
                    // float: right;
                    display: inline-block;
                    vertical-align: middle;
                    padding-left: 40px;

                    h4, h5, h6{
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        font-weight: 600;
                        letter-spacing: 2px;
                        padding: 30px 0;
                        position: relative;
                        text-align: left;
                        margin-bottom: 0;
                    }

                    h4{
                        font-size: 32px;
                    }

                    h5{
                        font-size: 26px;
                    }

                    h6{
                        font-size: 22px;
                    }

                    p{
                        font-size: 16px;
                        line-height: 1.8;
                        margin-top: 20px;
                        text-align: justify;
                        letter-spacing: 2px;
                    }
                }

                &:nth-child(even){
        
                    .aboutus_photo{
                        width: 54%;
                        float: right;
                    }
    
                    .aboutus_text{
                        width: 42%;
                        float: left;
                        padding-left: 0;
                        padding-right: 40px;
                    }
                }
            }
        }

    }

    .theme_contactus{
        background: #F2F1ED;
        padding-bottom: 80px;
        
        .theme_contactus_title{
            height: 360px;
            background: url(../img/contactus_bg.jpg) center top no-repeat;
            background-size: cover;
            position: relative;

            h4{
                height: 40px;
                position: absolute;
                z-index: 5;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                color: #fff;
            }
        }

        .theme_contactus_box{
            max-width: 1200px;
            margin: 60px auto 0;
            overflow: hidden;
            background: #fff;
            
            .theme_contactus_form{
                padding: 60px 40px;
                overflow: hidden;
                
                .item{
                    width: calc((100% - 40px) / 2);
                    margin: 10px;
                    float: left;

                    &.full{
                        width: calc(100% - 20px);
                    }

                    label{
                        font-size: 14px;
                        line-height: 1.2;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        color: #c9a063;
                        letter-spacing: 1px;
                        display: block;

                        span{
                            width: 80px;
                            font-size: 18px;
                            color: #363537;;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                            margin: 0 10px;
                            display: inline-block;
                            text-align: justify;
                            text-justify: distribute-all-lines;
                            text-align-last: justify;
                            @media (max-width:1280px){
                                font-size: 16px;
                            }             
                            @media (max-width:600px){
                                width: 80px;
                            }   

                            &.nowidth{
                                width: 300px;
                                @media (max-width:1020px) and (min-width:960px){
                                    width: 280px;
                                }
                                @media (max-width:540px){
                                    width: auto;
                                }
                            }      
                        }
                    }

                    input[type="text"]{
                        width: 100%;
                        font-size: 20px;
                        line-height: 2;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        padding: 6px 16px;
                        color: #874C00;
                        background: #ebecec;
                        border-radius: 6px;
                        margin-top: 10px;
                        letter-spacing: 2px;
                        // border-bottom: 1px solid #c9a063;

                        &:focus{
                            outline: 0;
                        }
                    }

                    ::placeholder {
                        color: #999;
                        letter-spacing: 2px;
                    }
                    
                    textarea{
                        width: 100%;
                        height: 320px;
                        font-size: 20px;
                        line-height: 2;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        padding: 6px 16px;
                        color: #874C00;
                        background: #ebecec;
                        border-radius: 6px;
                        margin-top: 10px;
                        letter-spacing: 2px;

                        &:focus{
                            outline: 0;
                        }

                    }
                }

                .clear{
                    clear: both;
                }
                    
                button{
                    margin-top: 36px;
                }
            }
        }

    }

    &.theme_rules{
        background: #F2F1ED;
        padding: 60px 0 100px;

        .theme_rules_inner{
            max-width: 1200px;
            margin: 0 auto;
            
            h4{
                text-align: justify;
                line-height: 4;
                position: relative;
                padding-left: 32px;
    
                &:before{
                    content: "";
                    width: 8px;
                    height: 32px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -16px;
                    background: #363537;
                }
            }
    
            p{
                font-size: 18px;
                line-height: 2;
                text-align: justify;
            }
    
            ul{
                font-size: 18px;
                line-height: 2;
                text-align: justify;
    
                &.decimal{
                    list-style: decimal;
    
                    li{
                        margin-left: 24px;
                    }
                }
    
                &.cjk-ideographic{
                    list-style: cjk-ideographic;
    
                    li{
                        margin-left: 38px;
                    }
                }
    
                &.disc{
                    list-style: disc;
    
                    li{
                        margin-left: 24px;
                    }
                }
                &.lower-alpha{
                    list-style: lower-alpha;
    
                    li{
                        margin-left: 24px;
                    }
                }
    
                h5{
                    font-size: 22px;
                    line-height: 2;
                    text-align: justify;
                    color: #363537;
                    margin-top: 20px;
                }
            }
    
        }

    }

}