@import '_setting';
@import '_header';
@import '_footer';



.theme{

    &:first-child{
        margin-top: 100px;
        @media (max-width:800px){
            margin-top: 80px;
        }
    }

    h3{
        // font-size: 32px;
        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
        font-weight: 600;
        text-align: center;
        margin-bottom: 60px;
        color: #363537;
        letter-spacing: 6px;
        span{
            text-transform: uppercase;
            display: block;
            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
            color: #908E93;
            letter-spacing: 10px;
            font-size: 16px;
        }
    }

    .theme_breadcrumbs{
        width: 100%;
        // background: #fff;

        ol{
            padding: 50px 0 30px;
            overflow: hidden;
            @media (max-width:1200px){
                // padding: 80px 0 30px;
            }

            li{
                float: left;

                a{
                    display: inline-block;

                    &:hover{
                        text-decoration: underline;
                    }
                }

                &:last-child{
                    color: #874C00;
                }
            }
            
            li + li{

                &:before{
                    content: '\e5cc';
                    font-family: 'Material Icons';
                    vertical-align: middle;
                    margin: 0 10px;
                    color: #363537;
                }
            }
        }

        &.theme_campaign_breadcrumbs{

            ol{
                @media (max-width:1200px){
                    // padding: 140px 0 30px;
                }
            }
        }
    }

    .theme_page_title{
        height: 360px;
        // background: url(../img/news_bg.jpg) center top no-repeat;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        @media (max-width:800px){
            height: 240px;
            background-position: right top;
            
            &.theme_wine_title{
                background-position: center top;                
            }
        }

        h3{
            height: 70px;
            // font-size: 32px;
            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
            font-weight: 600;
            text-align: center;
            color: #363537;
            letter-spacing: 6px;
            position: absolute;
            z-index: 5;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            color: #fff;
            @media (max-width:800px){
                font-size: 26px;
            }
    
            span{
                font-size: 28px;
                line-height: 1;
                font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                text-transform:uppercase;
                display: block;
                color: rgba(255,255,255,.2);
                letter-spacing: 4px;
                @media (max-width:800px){
                    font-size: 20px;
                }
            }
        }

    }

    .theme_image{
        // margin-top: 100px;
        
        img{
            &.pc{ display: block;}
            &.mob{ display: none;}
            @media (max-width:960px){
                &.pc{ display: none;}
                &.mob{ display: block;}
            }
        }
    }

    .theme_signin{
        background: url(../img/signin-bg.jpg) center top no-repeat;
        background-size: cover;
        padding: 100px 0;

        .theme_signin_box{
            max-width: 1200px;
            margin: 0 auto;
            background: rgba(16,16,16,.7);
            border-radius: 20px;
            padding: 60px 0;
            overflow: hidden;
            @media (max-width:1280px){
                width: 90%;
            }

            .theme_signin_info{
                width: 45%;
                float: left;
                padding: 0 60px;
                @media (max-width:1280px){
                    width: 50%;
                }
                @media (max-width:960px){
                    width: 100%;
                    float: unset;
                }
                @media (max-width:540px){
                    padding: 0 20px;
                }

                h3{
                    color: #fff;
                }

                .theme_signin_form{
                    padding: 0 5%;

                    .item{
                        margin-bottom: 20px;

                    }

                    .item + .item{
                        margin-top: 32px;
                    }

                    .account_service{
                        text-align: center;
                        margin: 60px 0 40px;
                        a{
                            display: inline-block;
                            padding: 0 20px;
                            line-height: 1.2;
                            color: #fff;

                            &:hover{
                                text-decoration: underline;
                            }
                        }
                        a + a{
                            border-left: 1px solid #c9a063;
                        }
                    }
                }
            }

            .theme_signin_notice{
                width: calc(55% - 1px);
                float: right;
                border-left: 1px solid #C0A975;
                padding: 0 60px;
                position: relative;
                @media (max-width:1280px){
                    width: calc(50% - 1px);
                }
                @media (max-width:960px){
                    width: 90%;
                    float: unset;
                    border-left: 0;
                    border-top: 1px solid #C0A975;
                    margin: 60px auto 0;
                    padding-top: 40px;
                }
                @media (max-width:540px){
                    padding: 40px 20px 0;
                }

                h3{
                    color: #fff;
                }

                ul{
                    padding: 0 5%;
                    // height: 500px;

                    li{
                        list-style: disc;
                        color: #fff;
                        line-height: 2.4;
                        letter-spacing: 2px;
                        text-align: justify;
                    }
                }
                    
                button{
                    width: 400px;
                    margin-top: -54px;
                    @media (max-width:1280px){
                        width: 100%;
                    }
                    @media (max-width:960px){
                        margin-top: 40px;
                    }
                }
            }
        }

    }

    .theme_category{
        padding: 60px 0 100px;
        background: #fff;

        .theme_category_box{
            @media (max-width:1540px){
                width: calc(100% - 100px);
                margin: 0 auto;
            }

            .theme_category_item{
                padding: 8px;
                position: relative;

                
                .category_text{
                    color: #fff;
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    font-size: 32px;
                    font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                    font-weight: 600;
                    text-align: center;
                    line-height: 1.2;
                    height: 64px;
                    letter-spacing: 8px;
                    text-shadow: 0 0 10px rgba(0,0,0,.8);
                    @media (max-width:600px){
                        font-size: 26px;
                    }

                    span{
                        text-transform: uppercase;
                        font-size: 20px;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        color: rgba(255,255,255,.3);
                        letter-spacing: 10px;
                        display: block;
                        line-height: 1.8;
                        @media (max-width:600px){
                            font-size: 16px;
                        }

                    }
                }
            }

            .theme_category_item + .theme_category_item{
                margin-left: 20px;
            }
        }
        
    }

    .theme_event{
        padding: 60px 0 100px;

        .theme_event_box{
            @media (max-width:1540px){
                width: calc(100% - 100px);
                margin: 0 auto;
            }

            .theme_event_item{
                padding: 16px;
            }

            .theme_event_item + .theme_event_item{
                margin-left: 20px;
            }
        }
    }

    .theme_news{
        margin-bottom: 60px;
        margin-top: -20px;
        
        .theme_news_title{}

        .theme_news_category{
            text-align: center;
            padding: 60px 0;
            
            ul{
                
                li{
                    display: inline-block;

                    &.active{
                        color: #874C00;
                    }

                    &:hover{
                        cursor: pointer;
                    }
                }

                li + li{

                    &:before{
                        content: '|';
                        margin: 0 20px;
                        color: #363537;
                    }
                }
            }
        }

        .theme_news_box{
            margin-bottom: 20px;
            overflow: hidden;

            .theme_news_item{
                width: calc((100% - 120px) / 3);
                margin: 0 60px 60px 0;
                float: left;
                position: relative;
                padding: 0 30px;
                overflow: hidden;

                &:nth-child(3n){
                    margin-right: 0;
                }

                &:before{
                    content: "";
                    width: 100%;
                    height: 50%;
                    position: absolute;
                    z-index: -1;
                    bottom: 20px;
                    left: 0;
                    background: #fff;
                    transition: all .3s;
                }

                @media (max-width:1200px){
                    width: calc((100% - 60px) / 3);
                    margin: 0 30px 60px 0;

                    &:before{
                        height: 60%;
                    }
                }
                @media (max-width:960px){
                    width: calc((100% - 30px) / 2);
                    margin: 0 30px 30px 0;

                    &:nth-child(3n){
                        margin-right: 30px;
                    }

                    &:nth-child(2n){
                        margin-right: 0;
                    }
                }

                @media (max-width:800px){
                    padding: 0 20px;

                    &:before{
                        height: 100%;
                    }
                }

                @media (max-width:480px){
                    width: 100%;
                    margin: 0 0 30px 0;
                }

                .news_photo{
                    padding-top: 20px;
                }

                .news_text{
                    .news_text_info{
                        margin-top: 30px;
                        overflow: hidden;
                        @media (max-width:540px){
                            text-align: center;
                        }

                        .date{
                            font-size: 16px;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                            font-weight: 600;
                            float: left;
                            @media (max-width:540px){
                                width: 100%;
                                float: unset;
                                margin-top: 20px;
                                text-align: center;
                            }
                        }

                        .category{
                            color: #874C00;
                            border: 1px solid #874C00;
                            float: right;
                            padding: 0 6px;
                            font-size: 15px;
                            @media (max-width:540px){
                                display: inline-block;
                                float: unset;
                                margin: 0 auto;
                                text-align: center;
                            }
                        }
                    }

                    h6{
                        font-size: 18px;
                        letter-spacing: 2px;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        font-weight: 600;
                        margin-top: 20px;
                    }
                }

                .news_more{
                    width: 100%;
                    max-width: 360px;
                    height: 40px;
                    line-height: 40px;
                    margin: 40px auto 0;
                    background: #C0A975;
                    color: #fff;
                    font-size: 22px;
                    border-radius: 6px;
                    text-align: center;
                    font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                    letter-spacing: 2px;
                    transition: all .3s;
                }

                &:hover{
                    cursor: pointer;

                    &:before{
                        content: "";
                        height: 100%;
                    }

                    .news_more{
                        background: #A99567;
                    }

                }
            }
        }

    }

    .theme_campaign{
        margin-bottom: 60px;
        
        .theme_campaign_title{}

        .theme_campaign_category{
            text-align: center;
            padding: 60px 0;
            
            ul{
                
                li{
                    display: inline-block;

                    &.active{
                        color: #874C00;
                    }

                    &:hover{
                        cursor: pointer;
                    }
                }

                li + li{

                    &:before{
                        content: '|';
                        margin: 0 20px;
                        color: #363537;
                    }
                }
            }
        }

        .theme_campaign_box{
            margin-top: 60px;
            margin-bottom: 20px;
            overflow: hidden;

            .theme_campaign_item{
                width: calc((100% - 120px) / 3);
                margin: 0 60px 60px 0;
                float: left;
                position: relative;
                padding: 20px;
                // overflow: hidden;
                border: 1px solid #874C00;

                &:nth-child(3n){
                    margin-right: 0;
                }

                @media (max-width:1200px){
                    width: calc((100% - 60px) / 3);
                    margin: 0 30px 60px 0;
                }
                @media (max-width:960px){
                    width: calc((100% - 30px) / 2);
                    margin: 0 30px 40px 0;

                    &:nth-child(3n){
                        margin-right: 30px;
                    }

                    &:nth-child(2n){
                        margin-right: 0;
                    }
                }

                @media (max-width:800px){
                    // padding: 0 20px;
                }

                @media (max-width:480px){
                    width: 100%;
                    margin: 0 0 40px 0;
                }

                .campaign_photo{
                    // padding-top: 20px;
                }

                .campaign_text{
                    .campaign_text_info{
                        margin-top: 30px;
                        overflow: hidden;
                        @media (max-width:540px){
                            text-align: center;
                        }

                        .category{
                            color: #fff;
                            // border: 1px solid #874C00;
                            background: #874C00;
                            // float: right;
                            padding: 0 6px;
                            font-size: 15px;
                            display: inline-block;
                            line-height: 2;
                            @media (max-width:540px){
                                display: inline-block;
                                float: unset;
                                margin: 0 auto;
                                text-align: center;
                            }
                        }
                    }

                    h6{
                        font-size: 18px;
                        letter-spacing: 2px;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        font-weight: 600;
                        margin-top: 20px;
                    }
                }

                .campaign_more{
                    width: 100%;
                    max-width: 360px;
                    height: 40px;
                    line-height: 40px;
                    margin: 40px auto -40px;
                    background: #874C00;
                    color: #fff;
                    font-size: 22px;
                    border-radius: 6px;
                    text-align: center;
                    font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                    letter-spacing: 2px;
                    transition: all .3s;
                }

                &:hover{
                    cursor: pointer;

                }
            }
        }

    }

    .theme_newspage{
        background: #F4F5F6;

        .theme_newspage_item{
            padding: 40px;
            background: #fff;
            @media (max-width:800px){
                padding: 20px;
            }

            .newspage_text{
                margin-top: 10px;

                h4, h5, h6{
                    font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                    font-weight: 600;
                    letter-spacing: 2px;
                    padding: 30px 0;
                    position: relative;
                    text-align: left;
                    margin-bottom: 0;
                }

                p{
                    // font-size: 16px;
                    line-height: 1.8;
                    margin-top: 20px;
                    text-align: justify;
                    letter-spacing: 2px;
                }
            }
        }

        .newspage_back{
            width: 100%;
            max-width: 360px;
            margin: 40px auto;
            background: #C0A975;
            border-radius: 6px;
            transition: all .3s;
            
            a{
                height: 48px;
                line-height: 48px;
                font-size: 22px;
                color: #fff;
                text-align: center;
                font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                letter-spacing: 2px;
                transition: all .3s;
            }

            &:hover{
                background: #A99567;
            }
        }

    }

    .theme_aboutus{
        
        .theme_aboutus_title{

            h3{
                height: 40px;
                position: absolute;
                z-index: 5;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                color: #fff;
            }
        }

        .theme_aboutus_box{
            margin-bottom: 100px;

            .theme_aboutus_item{
                margin-top: 80px;
                // overflow: hidden;
                &:before{
                    content: "";
                    width: 0;
                    height: 100%;
                    display: inline-block;
                    vertical-align: middle;
                }

                .aboutus_photo{
                    width: calc(100% - 670px);
                    // float: left;
                    display: inline-block;
                    vertical-align: middle;
                    @media (max-width:1200px){
                        width: 660px;
                        display: block;
                        margin: 0 auto;
                    }
                    @media (max-width:740px){
                        width: 90%
                    }
                }

                .aboutus_text{
                    width: 660px;
                    // float: right;
                    display: inline-block;
                    vertical-align: middle;
                    padding-left: 60px;
                    @media (max-width:1200px){
                        width: 560px;
                        padding-left: 0;
                        display: block;
                        margin: 60px auto 20px;
                    }
                    @media (max-width:740px){
                        width: 90%
                    }

                    h4, h5, h6{
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        font-weight: 600;
                        letter-spacing: 2px;
                        // padding: 30px 0;
                        position: relative;
                        text-align: left;
                        margin-bottom: 30px;
                        line-height: 2;
                    }

                    h5{
                        font-size: 26px;
                    }

                    p{
                        font-size: 16px;
                        line-height: 1.8;
                        margin-top: 20px;
                        text-align: justify;
                        letter-spacing: 2px;
                    }

                    ul{
                        list-style-type: disc;

                        li{
                            line-height: 2;
                            font-size: 16px;
                            margin-left: 20px;
                            letter-spacing: 2px;
                            margin-bottom: 20px;
                        }
                    }
                }

                &:nth-child(even){
        
                    .aboutus_photo{
                        width: 54%;
                        float: right;
                    }
    
                    .aboutus_text{
                        width: 42%;
                        float: left;
                        padding-left: 0;
                        padding-right: 40px;
                    }
                }
            }
        }

    }

    .theme_contactus{
        padding-bottom: 80px;
        
        .theme_contactus_title{
            @media (max-width:600px){
                background-position: 90% top;
            }

            h3{
                height: 40px;
                position: absolute;
                z-index: 5;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                color: #fff;
            }
        }

        .theme_contactus_box{
            margin-top: 40px;
            overflow: hidden;
            
            p{
                font-size: 16px;
                line-height: 1.6;
                text-align: center;
                margin-bottom: 40px;
            }
            
            .theme_contactus_form{
                padding: 60px 40px;
                overflow: hidden;
                background: #fff;
                @media (max-width:800px){
                    padding: 40px 20px;
                }
                
                .item{
                    width: calc((100% - 40px) / 2);
                    margin: 10px;
                    float: left;
                    position: relative;
                    @media (max-width:600px){
                        width: calc(100% - 20px);
                    }

                    &.full{
                        width: calc(100% - 20px);
                    }

                    label{
                        // font-size: 14px;
                        line-height: 1.2;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        color: #c9a063;
                        letter-spacing: 1px;
                        display: block;

                        span{
                            // width: 80px;
                            // font-size: 18px;
                            color: #363537;;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                            margin: 0 10px;
                            display: inline-block;
                            // text-align: justify;
                            // text-justify: distribute-all-lines;
                            // text-align-last: justify;
                            @media (max-width:1280px){
                                font-size: 16px;
                            }             
                            @media (max-width:600px){
                                width: 80px;
                            }   

                            &.nowidth{
                                width: 300px;
                                @media (max-width:1020px) and (min-width:960px){
                                    width: 280px;
                                }
                                @media (max-width:540px){
                                    width: auto;
                                }
                            }      
                        }
                    }

                    select{
                        border: 0;
                        outline: 0;
                    }
                    
                    textarea{
                        width: 100%;
                        height: 160px;
                        font-size: 20px;
                        line-height: 2;
                        font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                        padding: 6px 16px;
                        background: #ebecec;
                        border-radius: 6px;
                        margin-top: 10px;
                        margin-left: 0;
                        letter-spacing: 2px;
                        border: 0;

                        &:focus{
                            outline: 0;
                        }

                    }

                    .sex{
                        width: 180px;
                        height: 20px;
                        position: absolute;
                        left: 80px;
                        top: 0;

                        > div{
                            float: left;
                            margin-right: 16px;
                            line-height: 1.2;

                            input, label{
                                display: inline-block;
                                color: #363537;
                            }

                            input{
                                width: 12px;
                                height: 12px;
                                border-radius: 12px;
                                padding: 0;
                                margin-right: 2px;
                                outline: 1px solid #363537;

                                &:checked{
                                    background: #363537;
                                }
                            }
                        }
                    }
                }
                    
                button{
                    width: calc(100% - 20px);
                    margin-top: 36px;
                }
            }
        }

    }

    &.theme_rules{
        background: #F2F1ED;
        padding: 0 0 100px;

        .theme_rules_inner{
            
            h3{
                text-align: justify;
                line-height: 4;
                position: relative;
                padding-left: 32px;
                margin-bottom: 20px;
    
                &:before{
                    content: "";
                    width: 8px;
                    height: 32px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -16px;
                    background: #363537;
                }
            }
    
            p{
                font-size: 18px;
                line-height: 2;
                text-align: justify;
            }
    
            ul{
                font-size: 18px;
                line-height: 2;
                text-align: justify;
    
                &.decimal{
                    list-style: decimal;
    
                    li{
                        margin-left: 24px;
                    }
                }
    
                &.cjk-ideographic{
                    list-style: cjk-ideographic;
    
                    li{
                        margin-left: 38px;
                    }
                }
    
                &.disc{
                    list-style: disc;
    
                    li{
                        margin-left: 24px;
                    }
                }
                &.lower-alpha{
                    list-style: lower-alpha;
    
                    li{
                        margin-left: 24px;
                    }
                }
    
                h5{
                    font-size: 22px;
                    line-height: 2;
                    text-align: justify;
                    color: #363537;
                    margin-top: 20px;
                }
            }
    
        }

    }

    .theme_login{
        background: url(../img/signin-bg.jpg) right top no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        overflow: hidden;
        margin-top: 100px;
        @media (max-width:960px){
            // height: 820px;
        }

        &:before{
            content: "";
            width: 50%;
            height: 100%;
            background: #363537;
            position: absolute;
            z-index: 0;
            left: 0;
            top: 0;

            @media (max-width:960px){
                display: none;
            }
        }

        .theme_login_box{
            width: 50%;
            position: relative;
            z-index: 2;
            margin: 100px 0;
            @media (max-width:960px){
                width: 640px;
                // height: auto;
                background: #363537;
                padding: 60px 40px;
                border-radius: 20px;
                float: unset;
                margin: 60px auto;
            }

            @media (max-width:800px){
                width: 94%;
            }
            @media (max-width:560px){
                padding: 60px 20px;
            }

            .theme_login_title{
                text-align: center;
    
                h3{
                    font-size: 36px;
                    color: #fff;
                }
            }

            .theme_login_form{
                width: 90%;
                margin: 0 auto;
                overflow: hidden;

                .item{
                    width: 360px;
                    margin: 10px auto;
                    position: relative;
                    @media (max-width:560px){
                        width: 100%;
                    }

                    &.full{
                        width: calc(100% - 20px);
                    }

                    &.account_service{
                        width: calc((100% - 40px) / 2);
                        margin: 40px auto 0;

                        a{
                            color: #fff;
                            // font-size: 14px;
                            line-height: 3.2;
                            text-align: center;
                            text-decoration: underline;
                        }
                    }

                    .city{
                        width: 140px;
                        float: left;
                        margin-right: 20px;
                    }
                    .dist{
                        width: 140px;
                        float: left;
                        margin-right: 20px;
                    }
                    .address{
                        width: calc(100% - 320px);
                        float: left;
                    }

                    .invoice{
                        width: 180px;
                        height: 20px;
                        position: absolute;
                        left: 130px;
                        top: 0;

                        > div{
                            float: left;
                            margin-right: 16px;
                            line-height: 1.2;

                            input, label{
                                display: inline-block;
                                color: #fff;
                            }

                            input{
                                width: 12px;
                                height: 12px;
                                border-radius: 12px;
                                padding: 0;
                                margin-right: 2px;
                                outline: 1px solid #fff;

                                &:checked{
                                    background: #fff;
                                }
                            }
                        }
                    }
                }

                button{
                    width: 360px;
                    margin: 0 auto 50px;
                    @media (max-width:560px){
                        width: 100%;
                    }

                    &.outline{
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
            }

            .theme_login_register{
                @media (max-width:560px){
                    width: 90%;
                    margin: 0 auto;
                }

                hr{
                    width: 360px;
                    @media (max-width:560px){
                        width: 100%;
                    }
                }

                p{
                    color: #fff;
                    font-size: 14px;
                    line-height: 3.2;
                    text-align: center;
                    margin-top: 30px;
                }

                button{
                    width: 360px;
                    @media (max-width:560px){
                        width: 100%;
                    }
                }
            }
        }
    }
    .theme_register{
        height: 80vh;
        background: url(../img/register-bg.jpg) right top no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        overflow: hidden;
        margin-top: 100px;

        @media (max-width:960px){
            height: auto;
        }

        &:before{
            content: "";
            width: 50%;
            height: 100%;
            background: #363537;
            position: absolute;
            z-index: 0;
            left: 0;
            top: 0;

            @media (max-width:960px){
                display: none;
            }
        }

        .theme_register_box{
            width: 50%;
            position: relative;
            z-index: 2;
            float: left;
            height: 80vh;
            overflow-y: scroll;

            @media (max-width:960px){
                width: 640px;
                height: auto;
                background: #363537;
                padding: 60px 40px;
                border-radius: 20px;
                float: unset;
                margin: 60px auto;
            }

            @media (max-width:800px){
                width: 94%;
            }
            @media (max-width:560px){
                padding: 60px 20px;
            }

            .theme_register_box_inner{
                padding: 100px 0;
                @media (max-width:960px){
                    padding: 0;
                }

                .theme_register_title{
                    text-align: center;
    
                    h3{
                        color: #fff;
                    }
                }

                .theme_register_form{
                    width: 90%;
                    margin: 0 auto;
                    overflow: hidden;

                    .item{
                        width: calc((100% - 20px) / 2);
                        margin: 10px auto;
                        position: relative;
                        float: left;
                        margin-right: 20px;
                        @media (max-width:1200px){
                            width: 360px;
                            float: unset;
                            margin: 10px auto;
                        }
                        @media (max-width:560px){
                            width: 100%;
                        }
    
                        &.full{
                            width: 100%;
                            @media (max-width:1200px){
                                width: 360px;
                            }
                            @media (max-width:560px){
                                width: 100%;
                            }
                        }

                        &.mr0{
                            margin-right: 0;
                            @media (max-width:1200px){
                                margin: 10px auto;
                            }
                        }
    
                        &.account_service{
                            width: calc((100% - 40px) / 2);
                            margin: 40px auto 0;
    
                            a{
                                color: #fff;
                                // font-size: 14px;
                                line-height: 3.2;
                                text-align: center;
                                text-decoration: underline;
                            }
                        }
    
                        .city{
                            width: 140px;
                            float: left;
                            margin-right: 20px;
                            @media (max-width:1200px){
                                width: 170px;
                            }
                            @media (max-width:560px){
                                width: calc((100% - 20px) / 2);
                            }
                        }
                        .dist{
                            width: 140px;
                            float: left;
                            margin-right: 20px;
                            @media (max-width:1200px){
                                width: 170px;
                                margin-right: 0;
                                // float: unset;
                            }
                            @media (max-width:560px){
                                width: calc((100% - 20px) / 2);
                            }
                        }
                        .address{
                            width: calc(100% - 320px);
                            float: left;
                            @media (max-width:1200px){
                                width: 360px;
                                float: unset;
                            }
                            @media (max-width:560px){
                                width: 100%;
                            }
                        }
    
                        .invoice{
                            width: 180px;
                            height: 20px;
                            position: absolute;
                            left: 130px;
                            top: 0;
    
                            > div{
                                float: left;
                                margin-right: 16px;
                                line-height: 1.2;
    
                                input, label{
                                    display: inline-block;
                                    color: #fff;
                                }
    
                                input{
                                    width: 12px;
                                    height: 12px;
                                    border-radius: 12px;
                                    padding: 0;
                                    margin-right: 2px;
                                    outline: 1px solid #fff;
    
                                    &:checked{
                                        background: #fff;
                                    }
                                }
                            }
                        }
                    }
    
                    button{
                        width: 360px;
                        margin: 50px auto;
                        @media (max-width:560px){
                            width: 100%;
                        }
    
                        &.outline{
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                    }
    
                }

                .theme_register_login{
                    @media (max-width:560px){
                        width: 90%;
                        margin: 0 auto;
                    }

                    .item{
                        width: calc((100% - 40px) / 2);
                        margin: 10px auto;
                        position: relative;
                        @media (max-width:1200px){
                            width: 360px;
                        }
                        @media (max-width:560px){
                            width: 100%;
                        }
    
                        &.full{
                            width: calc(100% - 20px);
                        }
    
                        &.account_service{
                            width: calc((100% - 40px) / 2);
                            margin: 40px auto 0;
    
                            a{
                                color: #fff;
                                // font-size: 14px;
                                line-height: 3.2;
                                text-align: center;
                                text-decoration: underline;
                            }
                        }
    
                        .city{
                            width: 140px;
                            float: left;
                            margin-right: 20px;
                        }
                        .dist{
                            width: 140px;
                            float: left;
                            margin-right: 20px;
                        }
                        .address{
                            width: calc(100% - 320px);
                            float: left;
                        }
    
                        .invoice{
                            width: 180px;
                            height: 20px;
                            position: absolute;
                            left: 130px;
                            top: 0;
    
                            > div{
                                float: left;
                                margin-right: 16px;
                                line-height: 1.2;
    
                                input, label{
                                    display: inline-block;
                                    color: #fff;
                                }
    
                                input{
                                    width: 12px;
                                    height: 12px;
                                    border-radius: 12px;
                                    padding: 0;
                                    margin-right: 2px;
                                    outline: 1px solid #fff;
    
                                    &:checked{
                                        background: #fff;
                                    }
                                }
                            }
                        }
                    }
    
                    button{
                        width: 360px;
                        margin: 50px auto;
                        @media (max-width:560px){
                            width: 100%;
                        }
    
                        &.outline{
                            width: 360px;
                            margin-top: 0;
                            margin-bottom: 0;
                            @media (max-width:560px){
                                width: 100%;
                            }
                        }
                    }

                    hr{
                        width: 360px;
                        @media (max-width:560px){
                            width: 100%;
                        }
                    }
    
                    p{
                        color: #fff;
                        font-size: 14px;
                        line-height: 3.2;
                        text-align: center;
                        margin-top: 30px;
                    }
    
                    button{
                        width: 100%;
                    }
                }

            }
        }

        .theme_register_feature{
            width: 46%;
            float: right;

            @media (max-width:960px){
                width: 640px;
                float: unset;
                margin: 0 auto 40px;
            }

            @media (max-width:800px){
                width: 94%;
            }
        
            ul{
                list-style: disc;
                margin-top: 35%;
                padding-left: 32px;
            @media (max-width:960px){
                margin-top: 0;
            }

                li{
                    color: #fff;
                    line-height: 2;
                    font-size: 18px;
                    text-shadow: 0 0 10px rgba(0,0,0,.8);
                }
            }
        }
    }
}

.theme_pagination,
.theme_pagination *,
.theme_pagination *:before,
.theme_pagination *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}
.theme_pagination {
    line-height: 1;
    font-weight: 400;
    // font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
    -webkit-text-size-adjust: 100%;
    margin: 40px auto 0;
    text-align: center;
    transition: font-size .2s ease-in-out;

    a{
        // width: 50px;
        display: inline-block !important;
    }

    ul {
        list-style-type: none;
        display: inline;
        font-size: 100%;
        margin: 0;
        padding: .5em;

        li {
        display: inline-block;
        font-size: 100%;
        width: auto;
        border-radius: 3px;
        @media (max-width:600px){
            &:nth-child(7), &:nth-child(8), &:nth-child(9){
                display: none;
            }
        }
        @media (max-width:480px){
            &:nth-child(6), &:nth-child(11){
                display: none;
            }
        }
        @media (max-width:360px){
            &:nth-child(5){
                display: none;
            }
        }

            a {
                color: #363537;
                padding: 1em;
                font-family: 'Roboto', 'Noto Serif TC', serif;
                font-size: 14px;
            }

            &.current a{
                color: #fff;
                background: #874C00;
                border-radius: 4px;
            }
        }
    }

    > a {
        display: inline-block;
        vertical-align: middle;
        // background: #DFDFDF;
        padding: 0.5em;
        border-radius: 3px;
    }

    &:focus, &:hover {
    }

    .disabled, [hidden], [disabled] {
        opacity: .2;
        pointer-events: none;
    }
}

.mask{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    background: rgba(0,0,0,.8);
    display: none;
    transition: all .3s;

    &.active{
        display: block;
    }
}