@import '_setting';
@import '_header';
@import '_footer';



.theme{

    .theme_product{

        .theme_page_title{
            height: 360px;
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }

        .theme_product_box{
            overflow: hidden;
    
            .theme_product_nav{
                width: 320px;
                float: left;
                margin: 40px 0;
        
                ul{
        
                    > li{
                        background: #fff;
                        padding: 20px 30px;
                        margin-bottom: 2px;
                        transition: all .3s;
                        font-weight: 600;
                        overflow: hidden;
        
                        a{
                            font-size: 18px;
                            line-height: 1.4;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                            color: #363537;
                            transition: all .3s;
                            letter-spacing: 2px;
                        }
        
                        span{
                            display: block;
                            text-transform: uppercase;
                            font-size: 13px;
                            line-height: 1.4;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                            color: #908E93;
                            letter-spacing: 2px;
                        }
        
                        &.head{
                            font-size: 20px;    
                            line-height: 1.2;
                            font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                            letter-spacing: 2px;
                            background: #F2F1ED;
                        }

                        &.active, &:hover{

                            a{
                                color: #874C00;
                            }
                        }

                        .link{
                            width: calc(100% - 24px);
                            float: left;
                        }

                        .subnav_switch{
                            width: 24px;
                            float: right;

                            &:hover{
                                cursor: pointer;
                            }
    
                            .open{
                                display: block;
                            }

                            .close{
                                display: none;
                            }

                            &.active{
    
                                .open{
                                    display: none;
                                }
    
                                .close{
                                    display: block;
                                }
                            }
                        }

                        .subnav{
                            margin: 16px -30px 0;
                            display: none;

                            li{
                                width: 100%;
                                display: block;
                                font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                                line-height: 2.4;
                                padding: 0 48px;
                                font-size: 16px;
                                letter-spacing: 2px;

                                &.active, &:hover{
                                    cursor: pointer;
                                    background: #F2F1ED;
                                }
                            }                            
                        }
                    }
                }
            }

            .theme_product_content{
                width: calc( 100% - 360px);
                float: right;
                margin: 40px 0;

                .theme_product_filter{

                    ul{

                        > li{

                            ol{

                                li{
                                    display: inline-block;
                                    margin-left: 16px;

                                    input[type="checkbox"]{
                                        width: 15px;
                                        height: 15px;
                                        display: inline-block;
                                        border: 1px solid #363537;
                                        padding: 0;
                                        vertical-align: middle;

                                        &:before{
                                            content: '\e5ca';
                                            font-family: 'Material Icons';
                                            vertical-align: top;
                                            opacity: 0;
                                            transition: all .3s;
                                        }

                                        &:checked{

                                            &:before{
                                                opacity: 1;
                                            }
                                        }
                                    }

                                    label{
                                        display: inline-block;
                                        font-size: 15px;
                                        font-family: 'Noto Sans TC', sans-serif;
                                        vertical-align: middle;
                                    }
                                    
                                    textarea{
                                        margin: 10px 0;
                                        border: 1px solid #D9D9D9;
                                    }

                                    &:first-child{
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }

                .theme_product_group{}
            }
        }

    }
}

.theme_pagination,
.theme_pagination *,
.theme_pagination *:before,
.theme_pagination *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}
.theme_pagination {
    line-height: 1;
    font-weight: 400;
    font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
    -webkit-text-size-adjust: 100%;
    margin: 1em auto;
    text-align: center;
    transition: font-size .2s ease-in-out;

    ul {
        list-style-type: none;
        display: inline;
        font-size: 100%;
        margin: 0;
        padding: .5em;

        li {
        display: inline-block;
        font-size: 100%;
        width: auto;
        border-radius: 3px;

            a {
                color: #363537;
                padding: 1em;
                font-family: 'Noto Serif Display', 'Noto Serif TC', serif;
                font-size: 14px;
            }

            &.current a{
                color: #fff;
                background: #874C00;
                border-radius: 4px;
            }
        }
    }

    > a {
        display: inline-block;
        vertical-align: middle;
        // background: #DFDFDF;
        padding: 0.5em;
        border-radius: 3px;
    }

    &:focus, &:hover {
    }

    .disabled, [hidden], [disabled] {
        opacity: .2;
        pointer-events: none;
    }
}